.programa-icon { background-image: url(images/programa.png) !important; }
.x-btn-large .programa-icon { background-image: url(images/programa32.png) !important; }
.programa-shortcut { background-image: url(images/programa48.png) !important; }
#programa-nav-panel li { margin-bottom:5px; }
.save-icon{background:transparent url(images/add.png) 0 0 no-repeat !important;}
.delete-icon{background:transparent url(images/delete.png) 0 0 no-repeat !important;}
.print-icon{background:transparent url(images/printer.png) 0 0 no-repeat !important;}
.send-icon{background:transparent url(images/email_go.png) 0 0 no-repeat !important;}
