<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml" lang="es"><head>



    <link rel="icon" href="http://localhost/phpmyadmin/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://localhost/phpmyadmin/favicon.ico" type="image/x-icon">
    <title>phpMyAdmin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- base -->
    <link rel="stylesheet" type="text/css" href="navigation_data/phpmyadmin.css">
    <script type="text/javascript" src="navigation_data/navigation.js"></script>
    <script type="text/javascript" src="navigation_data/functions.js"></script>
    <script type="text/javascript">
    // <![CDATA[
    var image_minus = './themes/original/img/b_minus.png';
    var image_plus = './themes/original/img/b_plus.png';

    // INIT PMA_setFrameSize
    var onloadCnt = 0; 
    var onLoadHandler = window.onload;  
    var resizeHandler = window.onresize;
    window.document.onresize  = resizeHandler;
    window.onload = function() {
        if (onloadCnt == 0) {
            if (typeof(onLoadHandler) == "function") { 
                onLoadHandler(); 
            }
            if (typeof(PMA_setFrameSize) != 'undefined' && typeof(PMA_setFrameSize) == 'function') { 
                PMA_setFrameSize(); 
            }
            onloadCnt++;
        }
    };
    window.onresize = function() {
        if (typeof(resizeHandler) == "function") { 
            resizeHandler(); 
        }
        if (typeof(PMA_saveFrameSize) != 'undefined' && typeof(PMA_saveFrameSize) == 'function') { 
            PMA_saveFrameSize(); 
        }
    };
    // ]]>
    </script>
        <!--[if IE 6]>
    <style type="text/css">
    /* <![CDATA[ */
    html {
        overflow-y: scroll;
    }
    /* ]]> */
    </style>
    <![endif]-->
</head><div FirebugVersion="1.3.3" style="display: none;" id="_firebugConsole"></div><body id="body_leftFrame">
<div id="pmalogo">
<a href="http://localhost/phpmyadmin/main.php?token=0ac054c74bfe8d04cce9c755bc2271d4" target="frame_content"><img src="navigation_data/logo_left.png" alt="phpMyAdmin" id="imgpmalogo"></a>
</div>
<div id="leftframelinks">
<a href="http://localhost/phpmyadmin/main.php?token=0ac054c74bfe8d04cce9c755bc2271d4" title="Página de inicio"><img class="icon" src="navigation_data/b_home.png" alt="Página de inicio" height="16" width="16"></a>
<a href="http://localhost/phpmyadmin/querywindow.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;no_js=true" title="Ventana de consulta" onclick="javascript:if (window.parent.open_querywindow()) return false;"><img class="icon" src="navigation_data/b_selboard.png" alt="Ventana de consulta" height="16" width="16"></a>
    <a href="http://localhost/phpmyadmin/Documentation.html" target="documentation" title="Documentación de phpMyAdmin"><img class="icon" src="navigation_data/b_docs.png" alt="Documentación de phpMyAdmin" height="16" width="16"></a>
    <a href="http://dev.mysql.com/doc/refman/5.0/es/index.html" target="mysql_doc"><img class="icon" src="navigation_data/b_sqlhelp.png" alt="Documentación" title="Documentación" height="16" width="16"></a>
</div>

    <div id="databaseList">
    <form method="post" action="index.php" target="_parent" id="left">
    <label for="lightm_db">Base de datos</label>
    <input name="token" value="0ac054c74bfe8d04cce9c755bc2271d4" type="hidden">

<select name="db" id="lightm_db" xml:lang="en" dir="ltr" onchange="if (this.value != '') window.parent.openDb(this.value);">
<option value="" dir="ltr">(Bases de datos) ...</option>
<option value="emedia" title="">emedia (8)</option>
<option value="fe2008" title="" selected="selected">fe2008 (56)</option>
<option value="futbolecuador" title="">futbolecuador (126)</option>
<option value="information_schema" title="">information_schema (17)</option>
</select>
<noscript>
<input type="submit" name="Go" value="Continuar" />
</noscript>
</form>
</div>

<div id="left_tableList">
    <p><a class="item" href="http://localhost/phpmyadmin/db_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4" title="">
    <span class="navi_dbName">fe2008</span> <bdo dir="ltr">(56)</bdo> </a></p><ul id="subel0"><li>
<a title="Examinar: InnoDB free: 28672 kB; (`match_id`) REFER `fe2008/matches`(`id`) ON DELETE CASCA (6 Filas)" id="browse_fe2008.actions" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=actions&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.actions" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=actions" title="InnoDB free: 28672 kB; (`match_id`) REFER `fe2008/matches`(`id`) ON DELETE CASCA (6 Filas)" id="fe2008.actions">actions</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (1 Filas)" id="browse_fe2008.admins" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=admins&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.admins" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=admins" title="InnoDB free: 28672 kB (1 Filas)" id="fe2008.admins">admins</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`module_id`) REFER `fe2008/modules`(`id`) ON UPDATE CASC (14 Filas)" id="browse_fe2008.banners" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=banners&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.banners" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=banners" title="InnoDB free: 28672 kB; (`module_id`) REFER `fe2008/modules`(`id`) ON UPDATE CASC (14 Filas)" id="fe2008.banners">banners</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`team_id`) REFER `fe2008/teams`(`id`) ON DELETE CASCADE; (5,371 Filas)" id="browse_fe2008.cards" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=cards&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.cards" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=cards" title="InnoDB free: 28672 kB; (`team_id`) REFER `fe2008/teams`(`id`) ON DELETE CASCADE; (5,371 Filas)" id="fe2008.cards">cards</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (39 Filas)" id="browse_fe2008.categories" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=categories&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.categories" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=categories" title="InnoDB free: 28672 kB (39 Filas)" id="fe2008.categories">categories</a></li>
<li class="marked">
<a title="Examinar: InnoDB free: 28672 kB (21 Filas)" id="browse_fe2008.championships" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=championships&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.championships" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=championships" title="InnoDB free: 28672 kB (21 Filas)" id="fe2008.championships">championships</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`championship_id`) REFER `fe2008/championships`(`id`) ON (12 Filas)" id="browse_fe2008.championships_teams" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=championships_teams&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.championships_teams" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=championships_teams" title="InnoDB free: 28672 kB; (`championship_id`) REFER `fe2008/championships`(`id`) ON (12 Filas)" id="fe2008.championships_teams">championships_teams</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`team_id`) REFER `fe2008/teams`(`id`) ON DELETE CASCADE; (4,094 Filas)" id="browse_fe2008.changes" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=changes&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.changes" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=changes" title="InnoDB free: 28672 kB; (`team_id`) REFER `fe2008/teams`(`id`) ON DELETE CASCADE; (4,094 Filas)" id="fe2008.changes">changes</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (21,867 Filas)" id="browse_fe2008.cities" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=cities&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.cities" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=cities" title="InnoDB free: 28672 kB (21,867 Filas)" id="fe2008.cities">cities</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`story_id`) REFER `fe2008/stories`(`id`) ON UPDATE CASCA (6 Filas)" id="browse_fe2008.comments" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=comments&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.comments" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=comments" title="InnoDB free: 28672 kB; (`story_id`) REFER `fe2008/stories`(`id`) ON UPDATE CASCA (6 Filas)" id="fe2008.comments">comments</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (0 Filas)" id="browse_fe2008.communities" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=communities&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.communities" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=communities" title="InnoDB free: 28672 kB (0 Filas)" id="fe2008.communities">communities</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (0 Filas)" id="browse_fe2008.communities_users" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=communities_users&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.communities_users" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=communities_users" title="InnoDB free: 28672 kB (0 Filas)" id="fe2008.communities_users">communities_users</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (7 Filas)" id="browse_fe2008.continents" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=continents&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.continents" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=continents" title="InnoDB free: 28672 kB (7 Filas)" id="fe2008.continents">continents</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`continent_id`) REFER `fe2008/continents`(`id`) ON UPDAT (247 Filas)" id="browse_fe2008.countries" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=countries&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.countries" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=countries" title="InnoDB free: 28672 kB; (`continent_id`) REFER `fe2008/continents`(`id`) ON UPDAT (247 Filas)" id="fe2008.countries">countries</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (1 Filas)" id="browse_fe2008.flashes" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=flashes&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.flashes" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=flashes" title="InnoDB free: 28672 kB (1 Filas)" id="fe2008.flashes">flashes</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (0 Filas)" id="browse_fe2008.friends" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=friends&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.friends" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=friends" title="InnoDB free: 28672 kB (0 Filas)" id="fe2008.friends">friends</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`team_id`) REFER `fe2008/teams`(`id`) ON DELETE CASCADE; (5,371 Filas)" id="browse_fe2008.goals" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=goals&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.goals" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=goals" title="InnoDB free: 28672 kB; (`team_id`) REFER `fe2008/teams`(`id`) ON DELETE CASCADE; (5,371 Filas)" id="fe2008.goals">goals</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`round_id`) REFER `fe2008/rounds`(`id`) ON UPDATE CASCAD (82 Filas)" id="browse_fe2008.groups" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=groups&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.groups" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=groups" title="InnoDB free: 28672 kB; (`round_id`) REFER `fe2008/rounds`(`id`) ON UPDATE CASCAD (82 Filas)" id="fe2008.groups">groups</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (4 Filas)" id="browse_fe2008.headers" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=headers&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.headers" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=headers" title="InnoDB free: 28672 kB (4 Filas)" id="fe2008.headers">headers</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`team_id`) REFER `fe2008/teams`(`id`) ON UPDATE CASCADE (0 Filas)" id="browse_fe2008.histories" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=histories&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.histories" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=histories" title="InnoDB free: 28672 kB; (`team_id`) REFER `fe2008/teams`(`id`) ON UPDATE CASCADE (0 Filas)" id="fe2008.histories">histories</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (1,177 Filas)" id="browse_fe2008.images" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=images&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.images" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=images" title="InnoDB free: 28672 kB (1,177 Filas)" id="fe2008.images">images</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`team_id`) REFER `fe2008/teams`(`id`) ON DELETE CASCADE; (100,455 Filas)" id="browse_fe2008.lineups" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=lineups&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.lineups" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=lineups" title="InnoDB free: 28672 kB; (`team_id`) REFER `fe2008/teams`(`id`) ON DELETE CASCADE; (100,455 Filas)" id="fe2008.lineups">lineups</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`group_id`) REFER `fe2008/groups`(`id`) ON UPDATE CASCAD (2,451 Filas)" id="browse_fe2008.matches" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=matches&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.matches" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=matches" title="InnoDB free: 28672 kB; (`group_id`) REFER `fe2008/groups`(`id`) ON UPDATE CASCAD (2,451 Filas)" id="fe2008.matches">matches</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`match_id`) REFER `fe2008/matches`(`id`) ON DELETE CASCA (0 Filas)" id="browse_fe2008.matches_referee" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=matches_referee&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.matches_referee" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=matches_referee" title="InnoDB free: 28672 kB; (`match_id`) REFER `fe2008/matches`(`id`) ON DELETE CASCA (0 Filas)" id="fe2008.matches_referee">matches_referee</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`team_id_home`) REFER `fe2008/teams`(`id`) ON DELETE CAS (2,647 Filas)" id="browse_fe2008.matches_teams" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=matches_teams&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.matches_teams" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=matches_teams" title="InnoDB free: 28672 kB; (`team_id_home`) REFER `fe2008/teams`(`id`) ON DELETE CAS (2,647 Filas)" id="fe2008.matches_teams">matches_teams</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (1 Filas)" id="browse_fe2008.media" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=media&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.media" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=media" title="InnoDB free: 28672 kB (1 Filas)" id="fe2008.media">media</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`media_id`) REFER `fe2008/media`(`id`); (`section_id`) R (0 Filas)" id="browse_fe2008.media_sections" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=media_sections&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.media_sections" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=media_sections" title="InnoDB free: 28672 kB; (`media_id`) REFER `fe2008/media`(`id`); (`section_id`) R (0 Filas)" id="fe2008.media_sections">media_sections</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (10 Filas)" id="browse_fe2008.menus" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=menus&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.menus" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=menus" title="InnoDB free: 28672 kB (10 Filas)" id="fe2008.menus">menus</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (27 Filas)" id="browse_fe2008.modules" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=modules&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.modules" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=modules" title="InnoDB free: 28672 kB (27 Filas)" id="fe2008.modules">modules</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`module_id`) REFER `fe2008/modules`(`id`) ON UPDATE CASC (60 Filas)" id="browse_fe2008.modules_sections" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=modules_sections&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.modules_sections" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=modules_sections" title="InnoDB free: 28672 kB; (`module_id`) REFER `fe2008/modules`(`id`) ON UPDATE CASC (60 Filas)" id="fe2008.modules_sections">modules_sections</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (1 Filas)" id="browse_fe2008.newsletters" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=newsletters&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.newsletters" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=newsletters" title="InnoDB free: 28672 kB (1 Filas)" id="fe2008.newsletters">newsletters</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`story_id`) REFER `fe2008/stories`(`id`) ON UPDATE CASCA (3 Filas)" id="browse_fe2008.newsletters_stories" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=newsletters_stories&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.newsletters_stories" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=newsletters_stories" title="InnoDB free: 28672 kB; (`story_id`) REFER `fe2008/stories`(`id`) ON UPDATE CASCA (3 Filas)" id="fe2008.newsletters_stories">newsletters_stories</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`survey_id`) REFER `fe2008/surveys`(`id`) (7 Filas)" id="browse_fe2008.options" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=options&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.options" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=options" title="InnoDB free: 28672 kB; (`survey_id`) REFER `fe2008/surveys`(`id`) (7 Filas)" id="fe2008.options">options</a></li>
<li class="">
<a title="Examinar: InnoDB free: 28672 kB (3,877 Filas)" id="browse_fe2008.players" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=players&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.players" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=players" title="InnoDB free: 28672 kB (3,877 Filas)" id="fe2008.players">players</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`player_id`) REFER `fe2008/players`(`id`) ON UPDATE CASC (3,390 Filas)" id="browse_fe2008.players_teams" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=players_teams&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.players_teams" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=players_teams" title="InnoDB free: 28672 kB; (`player_id`) REFER `fe2008/players`(`id`) ON UPDATE CASC (3,390 Filas)" id="fe2008.players_teams">players_teams</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`player_id`) REFER `fe2008/players`(`id`) ON UPDATE CASC (0 Filas)" id="browse_fe2008.profiles" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=profiles&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.profiles" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=profiles" title="InnoDB free: 28672 kB; (`player_id`) REFER `fe2008/players`(`id`) ON UPDATE CASC (0 Filas)" id="fe2008.profiles">profiles</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (241 Filas)" id="browse_fe2008.referee" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=referee&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.referee" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=referee" title="InnoDB free: 28672 kB (241 Filas)" id="fe2008.referee">referee</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (32 Filas)" id="browse_fe2008.resources" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=resources&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.resources" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=resources" title="InnoDB free: 28672 kB (32 Filas)" id="fe2008.resources">resources</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (5 Filas)" id="browse_fe2008.roles" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=roles&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.roles" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=roles" title="InnoDB free: 28672 kB (5 Filas)" id="fe2008.roles">roles</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`championship_id`) REFER `fe2008/championships`(`id`) (82 Filas)" id="browse_fe2008.rounds" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=rounds&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.rounds" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=rounds" title="InnoDB free: 28672 kB; (`championship_id`) REFER `fe2008/championships`(`id`) (82 Filas)" id="fe2008.rounds">rounds</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`resource_id`) REFER `fe2008/resources`(`id`) ON UPDATE  (31 Filas)" id="browse_fe2008.rules" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=rules&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.rules" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=rules" title="InnoDB free: 28672 kB; (`resource_id`) REFER `fe2008/resources`(`id`) ON UPDATE  (31 Filas)" id="fe2008.rules">rules</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`round_id`) REFER `fe2008/rounds`(`id`) ON UPDATE CASCAD (422 Filas)" id="browse_fe2008.schedules" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=schedules&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.schedules" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=schedules" title="InnoDB free: 28672 kB; (`round_id`) REFER `fe2008/rounds`(`id`) ON UPDATE CASCAD (422 Filas)" id="fe2008.schedules">schedules</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`championship_id`) REFER `fe2008/championships`(`id`); ( (26 Filas)" id="browse_fe2008.sections" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=sections&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.sections" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=sections" title="InnoDB free: 28672 kB; (`championship_id`) REFER `fe2008/championships`(`id`); ( (26 Filas)" id="fe2008.sections">sections</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`survey_id`) REFER `fe2008/surveys`(`id`); (`section_id` (9 Filas)" id="browse_fe2008.sections_surveys" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=sections_surveys&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.sections_surveys" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=sections_surveys" title="InnoDB free: 28672 kB; (`survey_id`) REFER `fe2008/surveys`(`id`); (`section_id` (9 Filas)" id="fe2008.sections_surveys">sections_surveys</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`section_id`) REFER `fe2008/sections`(`id`) ON UPDATE CA (7 Filas)" id="browse_fe2008.sections_tags" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=sections_tags&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.sections_tags" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=sections_tags" title="InnoDB free: 28672 kB; (`section_id`) REFER `fe2008/sections`(`id`) ON UPDATE CA (7 Filas)" id="fe2008.sections_tags">sections_tags</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (0 Filas)" id="browse_fe2008.series" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=series&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.series" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=series" title="InnoDB free: 28672 kB (0 Filas)" id="fe2008.series">series</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (3 Filas)" id="browse_fe2008.stadia" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=stadia&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.stadia" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=stadia" title="InnoDB free: 28672 kB (3 Filas)" id="fe2008.stadia">stadia</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (7 Filas)" id="browse_fe2008.statistics" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=statistics&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.statistics" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=statistics" title="InnoDB free: 28672 kB (7 Filas)" id="fe2008.statistics">statistics</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`statistic_id`) REFER `fe2008/statistics`(`id`) ON UPDAT (62 Filas)" id="browse_fe2008.statistics_days" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=statistics_days&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.statistics_days" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=statistics_days" title="InnoDB free: 28672 kB; (`statistic_id`) REFER `fe2008/statistics`(`id`) ON UPDAT (62 Filas)" id="fe2008.statistics_days">statistics_days</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`category_id`) REFER `fe2008/categories`(`id`) ON UPDATE (8,174 Filas)" id="browse_fe2008.stories" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=stories&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.stories" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=stories" title="InnoDB free: 28672 kB; (`category_id`) REFER `fe2008/categories`(`id`) ON UPDATE (8,174 Filas)" id="fe2008.stories">stories</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`story_id`) REFER `fe2008/stories`(`id`) ON DELETE CASCA (8,484 Filas)" id="browse_fe2008.stories_tags" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=stories_tags&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.stories_tags" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=stories_tags" title="InnoDB free: 28672 kB; (`story_id`) REFER `fe2008/stories`(`id`) ON DELETE CASCA (8,484 Filas)" id="fe2008.stories_tags">stories_tags</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (4 Filas)" id="browse_fe2008.surveys" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=surveys&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.surveys" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=surveys" title="InnoDB free: 28672 kB (4 Filas)" id="fe2008.surveys">surveys</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (42 Filas)" id="browse_fe2008.tags" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=tags&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.tags" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=tags" title="InnoDB free: 28672 kB (42 Filas)" id="fe2008.tags">tags</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`stadia_id`) REFER `fe2008/stadia`(`id`) (115 Filas)" id="browse_fe2008.teams" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=teams&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.teams" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=teams" title="InnoDB free: 28672 kB; (`stadia_id`) REFER `fe2008/stadia`(`id`) (115 Filas)" id="fe2008.teams">teams</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB; (`match_id`) REFER `fe2008/matches`(`id`) ON DELETE CASCA (0 Filas)" id="browse_fe2008.timers" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=timers&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.timers" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=timers" title="InnoDB free: 28672 kB; (`match_id`) REFER `fe2008/matches`(`id`) ON DELETE CASCA (0 Filas)" id="fe2008.timers">timers</a></li>
<li>
<a title="Examinar: InnoDB free: 28672 kB (9 Filas)" id="browse_fe2008.users" href="http://localhost/phpmyadmin/sql.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=users&amp;goto=tbl_structure.php"><img class="icon" src="navigation_data/b_sbrowse.png" id="icon_fe2008.users" alt="Examinar" height="10" width="10"></a>
<a href="http://localhost/phpmyadmin/tbl_structure.php?db=fe2008&amp;token=0ac054c74bfe8d04cce9c755bc2271d4&amp;table=users" title="InnoDB free: 28672 kB (9 Filas)" id="fe2008.users">users</a></li>
</ul></div>
</body></html>