.equipos {
    background: url(../img/equipos-sprite.png) no-repeat top left;
    width: 30px;
    height: 30px;
    float: left;
}

.sprite-barcelona-icon{ background-position: 0 0; width: 30px; height: 30px; }
.sprite-deportivo-cuenca-icon{ background-position: 0 -80px; width: 30px; height: 30px; }
.sprite-deportivo-quito-icon{ background-position: 0 -160px; width: 30px; height: 30px; }
.sprite-emelec-icon{ background-position: 0 -240px; width: 30px; height: 30px; }
.sprite-independiente-del-valle-icon{ background-position: 0 -320px; width: 30px; height: 30px; }
.sprite-liga-de-loja-icon{ background-position: 0 -400px; width: 30px; height: 30px; }
.sprite-liga-de-quito-icon{ background-position: 0 -480px; width: 30px; height: 30px; }
.sprite-manta-fc-icon{ background-position: 0 -560px; width: 30px; height: 30px; }
.sprite-mushuc-runa-icon{ background-position: 0 -640px; width: 30px; height: 30px; }
.sprite-el-nacional-icon{ background-position: 0 -720px; width: 30px; height: 30px; }
.sprite-olmedo-icon{ background-position: 0 -800px; width: 30px; height: 30px; }
.sprite-universidad-catolica-de-quito-icon{ background-position: 0 -880px; width: 30px; height: 30px; }