/*
 * Project: Futbol Ecuador 2015
 * Author: Byron Herrera
 * Author URI: http://misiva.com.ec
 * Description: A Bootstrap ad
 * License: copyrigth
 */
@font-face {
    font-family: 'HelveticaNeue';
    src:url('../fonts/HelveticaNeue.eot');
    src:url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue.ttf') format('truetype'),
    url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #666666  ;
    font-size: 12px;
}

.container{
    max-width: none !important;
    width: 990px;
}

pre {
    margin: 0;
    padding: 10px 20px !important;
}

footer {
    padding: 60px 0;
}

.preloader {
    background-image: url("../img/preloader.gif") !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.plugin-title {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    padding: 0 20px 12px 0;
}

.jumbotron.intro {
    margin-top: 0;
}

.jumbotron {
    padding: 20px 0;
    margin-bottom: 0
}

.jumbotron .navbar {
    font-size: 14px;
    line-height: 1.6;
}

.grid-demo {
    padding: 10px 30px;
}

.grid-demo [class*="col-"] {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    text-align: center;
    line-height: 2;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.grid-demo [class*="col-"]:hover {
    background: #5f5f5f;
    color: #ffffff;
}

.page-header {
    border-bottom: none;
    margin: 0;
    padding-bottom: 0;

}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -30px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -30px;
}
.blanco {
    background-color: #fff;
    background-image: url("../img/blanco.png");
}

.top1, .bottom1 {
    background-color: #152f4a;
    background-image: url("../img/menu-back.png");
}

.bottom1 {
    background-image: url("../img/menu-back.png");
}

.header1 {
    background-image: url("../img/header-back.png");
}

.margen0 {padding: 0;}
.margen0-noti {padding: 0;}
.margen0r {padding-right: 0;}
.margen0l {padding-left: 0;}
.margen4l {padding-left: 4px;  }
.margen5 {padding: 0 5px;}
.margen5r {padding-right:5px;}
.margen5l {padding-left:5px;}
.margen10 {margin: 0 10px;}
.margen10r {padding-right:10px;}
.margen10b {padding-bottom:10px;}

.navbar {
    margin-bottom: 0;
    min-height: 34px;
}

.navbar-nav > li > a {
    padding-bottom: 0px;
    padding-top: 8px;
    line-height: 18px;
}

.nav .fhmm-fw > a:hover  ,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    outline: none;
}

.menutype {
    font-size: 12px;
    font-family: "HelveticaNeue", Arial;
    font-style: normal;
}

.fhmm .dropdown-menu {
    background-color: transparent;
    background-image: url("../img/menu-back.png");
    border: none;
    font-size: 12px;
}

.nav > li.fhmm-fw > a {
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
}
.separador5 {
    margin-top: 5px;
}
.separador10 {
    margin-top: 10px;
}
.separador10-xs {
    margin-top: 10px;
}
.separador10-xs-bot {
    margin-top: 10px;
}
.separador10r {
    padding-right: 10px;
}

.separador10bot {
    margin-bottom: 10px;
}

.separador20 {
    margin-top: 20px;
}
.separador20-xs {
    margin-top: 20px;
}
.noticia {
    min-height: 300px;
}

.separador-dotted {
    border-right: 1px dotted #ccc;

}

.img-thumbnail {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
}

.media-body h4 {
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 0;
    color: #fff;
    font-size: 16px;

}

.link-menu {
    color: #cf7200 !important;
}

/*opciones menu*/
.menu-name {
    margin: 5px 0 0;
    padding-left: 10px;
    float: left;
}

.menu-points {
    margin: 5px 0 0;
}
.flexslider {
    height: 345px !important; overflow: hidden
}

.flexslider .text-rotativas {
    width: 95%;
    background-color: transparent;
    background-image: url("../img/title-rotativas.png");
    padding: 15px 10px;
}
.flexslidermobile .text-rotativas {
    width: 100%;
    background-color: transparent;
    background-image: url("../img/title-rotativas-mobile.png");
    padding: 15px 10px;
    display: none;
}

.flexslider .text-rotativas h2 {
    font-size: 20px;
    font-family: "HelveticaNeue", Arial;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.flexslidermobile .text-rotativas h2 {
    font-size: 20px;
    font-family: "HelveticaNeue", Arial;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.flexslider .text-rotativas h3 {
    font-size: 14px;
    font-family: "HelveticaNeue", Arial;
    font-weight: 200;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}
.flexslidermobile .text-rotativas h3 {
    font-size: 12px;
    font-family: "HelveticaNeue", Arial;
    font-weight: 200;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

.flexslider .content-text-rotativas {
    width: inherit;
    color: #fff;
    float: left;
    position: fixed;
    top: 255px;
}

.flexslidermobile .content-text-rotativas {
    width: inherit;
    color: #fff;
    float: left;
    position: fixed;
    top: 145px;
}

.flexslider .flex-viewport {
    width: 90.5% !important;
    float: left;
}

.flexslidermobile .flex-viewport {
    width: 100% !important;
    float: left;
}

.flex-control-thumbs {
    width: 9% !important;
    float: right;
    margin: 0 !important;
}

.flex-control-thumbs li {
    width: auto !important;
    float: right;
}

.flexslider {
    background: transparent;
}

.flex-direction-nav .flex-next {
    right: 30px;
}

.flexslider:hover .flex-next {
    opacity: 0.7;
    right: 70px;
}

#carousel li {
    margin-right: 5px;
}

#carousel img {
    display: block;
    opacity: .5;
    cursor: pointer;
}

#carousel img:hover {
    opacity: 1;
}

#carousel .flex-active-slide img {
    opacity: 1;
    cursor: default;
}

/* Media Queries
***********************/
@media screen and (max-width: 960px) {
    #container {
        padding: 35px;
    }
}

@media screen and (max-width: 768px) {
    #container {
        padding: 20px 30px;
    }

    #main {
        margin-left: 0;
    }
}

.flex-control-thumbs img {
    width: 56px;
    border-bottom: 2px solid #fff;
}

/* Noticias***********************/

.text-news-date, .text-news-date a  {
    font-style: italic;
    margin: 2px 0px;
    color: #888888 !important;
}


.text-news-sub {
    font-style: italic;
    font-size: 11px;
}

.text-news-zone {
    font-style: italic;
    font-weight: bold;
}
.content h1,
.content h2, .content .h2 ,
.content h2:hover, .content .h2:hover   {
    font-family: "Oxygen";
    font-size: 15px;
    margin: 5px 0;
    padding: 0;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

 .h3, .h3:hover   {
    font-family: "Oxygen";
    font-size: 13px;
    padding: 0 10px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}

  .sidebar h2, .sidebar .h2 ,
 .sidebar h2:hover, .sidebar .h2:hover  {
    font-family: "Oxygen";
    font-size: 13px;
    margin: 0;
    padding: 0 0 5px 0;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}



.content h1 {
    font-size: 20px;
    margin: 10px;
}

.content-text-rotativas   a, .content-text-rotativas    a{
    color: #fff;
    text-decoration: none;
    outline: none;
}

.content  h2 a, .content  .h2 a   ,
.content   a  {
    color: #444;
    text-decoration: none;
    outline: none;
}

 .sidebar  h2 a, .sidebar  .h2 a ,
.sidebar a.sidebarlink {
    color: #444;
    text-decoration: none;
    outline: none;
     line-height: 1.2;

}

.content-gris {
    background-color: #f1f1f1;
    color: #555555;
    margin-top: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.gris {
    color: #666666 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    margin: 10px 0 !important;
    font-style: italic;
}

sub {
    font-size: 12px;
}

.noticia img {
    width: 100%;
}

.noticia-img {
    max-height: 160px;
    overflow: hidden;
}

.news-detail {

}

.mini-new-conten {
    margin-top: 5px;
    margin-bottom: 5px;
}

.lineseparador {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
}
.lineseparador-dot {
    border-bottom: 1px dashed #c0c0c0;
    padding-bottom: 5px;
}

.carousel-control.right, .carousel-control.left {
    background: none;
}

.marcadorenvivofondo {
    background-image: url("../img/fondo_marcador_en_vivo.png");
}

.fondoazul {
    color: #1f1f1f  ;
    font-size: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #f1f1f1;
    font-family: oxygen;
    background-image: url("../img/fondo-subtitulos-white.png");
}
.fondoazul a {
    text-decoration: none;
    color: #1f1f1f  ;

}

.fondogris {
    background-color: #f7f7f7;
}



.marcadorenvivofondo {
    background-repeat: no-repeat;
    padding-bottom: 7px;
}

.text-white {
    color: #fff;
}

.text-blue1 {
    color: #abacb1;
}

.h5 {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0px;
    line-height: 11px;
}

.h6 {
    font-size: 9px;
}

.h6 p {
    margin-bottom: 2px;
    padding-left: 5px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 10px;
    height: 30px;
    margin-top: 0px;
    width: 30px;
}

/*paneles laterales*/

.panel-group .panel + .panel {
    border-radius: 0;
    margin-top: 2px;

}

.panel-group .panel {
    margin-bottom: 5px;
}

.panel-default {
    box-shadow: none
}

.panel-title {
    font-size: 14px;
}
.acordion-close {
    background-image: url("../img/fondo-acordio-close.png");
    background-repeat: no-repeat;
    background-position: right;
}

  .backcuadros {
    background-image: url("../img/fondo-subtitulos.png");
    border-radius: 0px;
    color: #fff;
    font-family: oxygen;
      height: 24px;
      border-bottom: 1px solid #ffffff;
  }

  .backcuadros a {
      color: #ffffff;
      text-decoration: none;
  }
.panel-default > .panel-heading  {
    border-radius: 0px;
    color: #ffffff;
    font-family: oxygen;
    background-color: #133652;
}

.panel-default > .panel-heading a {
    width: 100%;
    height: 100%;

}
.panel-default > .panel-heading a:focus {
    width:0px;height:0px;outline:0px;
}

.panel-no-border {
    border: none;
}

.well-sm {
    padding: 0;
}

.lateral .well {
    background-color: #ffffff;
    border: 0px solid #fff;
}

.lateral .panel-body-clear-margin {
    padding: 0;
}

.panel-default {

    background-color: #ffffff;
}

.panel-heading {
    padding: 4px 15px;
}

.tablaposiciones .nav > li > a, .tablaposiciones .nav > li > a:hover {

    padding: 3px 3px 4px;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus    {
    background-color: #e1e1e1;
    cursor: default;
    border: 0px solid #e1e1e1;
    outline: none;


    background-image: url("../img/fondo-subtitulos.png");
    border-radius: 0px;
    color: #fff;
    font-family: oxygen;
}

.nav-tabs > li > a {
    color: #000000;
    background-image: url("../img/fondo-subtitulos-white.png");
    border: 0px solid #f1f1f1;
    border-radius: 0;
    font-size: 12px;
    margin: 0;

}

.lateral .nav > li > a, .lateral .nav > li > a:hover {
    display: block;
    padding: 4px 15px 5px;
    position: relative;
}

.nav-tabs > li {
    background-color: #d2d3d5;
    color: #6988a5;
}




.azul {
    color: #6988a5
}

.font12 {
    font-size: 12px;
}

.tablemargin4 {
    padding: 4px;
}

.tablemargin4 tbody{
    border: 1px solid #ddd;
}

.tablemargin4 > thead > tr > th, .tablemargin4 > tbody > tr > th, .tablemargin4 > tfoot > tr > th, .tablemargin4 > thead > tr > td, .tablemargin4 > tbody > tr > td, .tablemargin4 > tfoot > tr > td {

    padding: 4px;

}

.tablaposiciones .panel-body {
    padding-bottom: 0;
}

.list-group-item {
    background-color: #f1f1f1;
    height: 25px;
    padding: 3px;
}

#proximafecha .well, #resultado .well {
    border: medium none;
}

ul.headernavtabs {
    margin-bottom: 1px;
}

.lateral {
    font-size: 13px;
}

.lateral .well {
    border: 0px solid #fff;
}

.flex-direction-nav {
    display: none;
}

.social-pos {float: left; width: 60px;height: 24px; padding-top: 4px;}

input.search[type=text]
{
    height: 28px;
    padding-left: 25px;
    text-decoration: none;
    background-image: url('../dummys/redes-buscar.jpg');
    background-repeat: no-repeat;
    width: 154px;
    border: 0;
    font-size: 12px;
}

input.search2[type=text]
{
    height: 28px;
    padding-left: 25px;
    text-decoration: none;
    color: #cccccc;
    width: 154px;
    border: 0;
    font-size: 12px;
    background-color: transparent;
    border-bottom: 1px solid #666666;
}
   textarea
{
    height: 56px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 5px;
    text-decoration: none;
    color: #cccccc;
    width: 100%;
    border: 0;
    font-size: 12px;

    background-color: transparent;
    border-bottom: 1px solid #666666;
}


.sidebar .table, .sidebar .well, .sidebar .panel-group {margin-bottom: 0;}

.zoom06 {
    zoom:0.60;
    -moz-transform:scale(0.60);
    -moz-transform-origin: 0 0;
}

.footer-fe {
    color: #cccccc;
    margin-top: 25px;
}
.footer-fe h3 {
    margin-top: 0;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 3px;
}

.footer-fe h3 {
    font-size: 15px;
    font-family: oxygen;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 3px;
}
.footer-fe .subtitulo, .footer-fe a, .footer-fe a:hover, .footer-fe a:visited  {
    color: #cccccc;
    font-size: 13px;
    padding-left: 20px;
    text-decoration: none;
}

.footer-fe .separa {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #666666;
}

.azulfooter {
     background:rgba(17,39,59,0.7);
    padding-top: 5px;
    padding-bottom: 5px;
}

.copyright-fe {
    padding-top: 8px;
}

a.newsButton, .newsButton {
    background-color:transparent;
    display:inline-block;
    cursor:pointer;
    color: #fa9b1e !important;
    font-family:arial;
    font-size:12px;
    padding:16px 20px;
    text-decoration:none;

}
a.newsButton:hover {
    background-color:transparent;
}
.newsButton:active {
    position:relative;
    top:1px;
}

input.search2[type="text"] {
    width: 100%;

}

.half {
    width: 50%;
}

.quarter {
    width: 25%;
}
h2.gigante, h2:hover.gigante {
    font-size: 25px;
}
.cabeceragoleador {
    height: 90px;
    overflow: hidden;
}
.panel-group .panel-no-border {
    border-radius: 0px;
    margin-bottom: 2px;
}
.fb-like {
    margin-bottom: 15px;
}

.noticiaabierta {
    font-size: 12px;
}

 .block-title {
    padding: 4px 15px;
 }


.imagen-full {
    width: 100%;
}
.panel-group .panel-heading a {
    color: #fff;
}


.cabeceraequipo {
    background-color: #fafafa;
    padding: 2px 0;
}

.nombre-equipo {
    font-size: 15px;
    font-family: oxygen;
    font-weight: bold;
    display: table-cell;
    vertical-align: bottom;

}
.resultado-equipo {
    font-size: 24px;
    line-height: 24px;
    font-family: oxygen;
    font-weight: bold;
}

.textos-equipo {
    font-family: oxygen;
    color: #797979;
}

.sidebar .list-group, .sidebar .list-group-item {
    border: 0 none #fff;
}

.sidebar .list-group-item {
    border-top: 1px solid #dddddd;
}

.sidebar .list-group  {
    margin-bottom: 0;
}

td.equipo1 {
    width: 135px;
}

h4.contenidos {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}

.contenido .nav-tabs > li > a, .contenido .nav-tabs > li > a:hover {
    padding-top: 4px;
    padding-bottom: 5px;
}

.borde {
    outline: 1px solid #f0f0f0;
}

.miniletra {
    font-size: 9px;
}

.texto-gris {
    color: #c7c8ca;
}
.img-responsive {
    width: 100%;
}

.banner300x250 {
    width:300px;
    margin: 0 auto;
}

.espaciador {
    height: 29px;
}
.flex-control-paging li a.flex-active {
    background: rgba(174, 174, 174, 0.9);
}

.masnoticias, .masnoticiasequipos  {
    cursor: pointer;
}
.bottom {
    position: absolute;
    bottom: 0;
    width: 90%;
}

.text-visitante {
    height: 65px;
}

.text-marcador-home {
    font-family: "Rationale",sans-serif;
    font-size: 17px;
    padding: 0 0 3px;
}

.img-goleadores {
    max-height: 80px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .container{
         width: 100%;
    }

    .blanco {

        overflow: hidden;
    }

    .noticia-content {
        margin-right:4px;
        margin-left: 4px;
    }

    .flex-control-nav {
        bottom: 1px !important;
        text-align: center !important;
    }
    .separador20-xs {
        margin-top: 75px;
        padding-left: 0;
    }

    .separador10 {
        padding-right: 5px;
        padding-left: 0;
    }
    .separador10-xs {
        margin-top: 75px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .separador10-xs-bot {
        margin-top: 10px;
        margin-left: -10px;
        margin-right: 0;
    }
    .margen0r-xs {
        margin-right: 10px;
    }

    .lineseparador {
        border-bottom: 0 solid #f0f0f0;
        padding-bottom: 0;
    }
    .margen10r {
         padding-right: 0px;
    }

    .margen0-noti {padding: 0 0 0 10px;}

    .margen0-sx {
        padding-right: 0;
        padding-left: 0 ;
    }

    .margen10lados-sx {
        margin-left: 5px ;
        margin-right: 5px ;
    }

    .img-responsive-xs {
        width: 100%;
    }

    .nombre-equipo {
        font-size: 12px;
        font-weight: normal;
    }
    .resultado-equipo {
        font-size: 14px;
        line-height: 14px;
    }

    .textos-equipo {
        font-size: 10px;
    }
    .footer-fe {
        margin-top: 10px;
    }

    .margen0-xs {
        padding: 0;
    }

    .masnoticias, .masnoticiasequipos {
        padding-bottom: 6px;
        padding-top: 6px;
    }

    .table-responsive-overflowhidden {
        overflow: hidden;
    }

    .content h1,
    .content h2, .content .h2 ,
    .content h2:hover, .content .h2:hover   {

        margin: 0 0 5px;

    }
}


.navbar-futec {
    background-color: #133751;
    border-color:92 #06131d;
}

.navbar-futec .navbar-collapse {
    background-color: #152f4a;
    background-image: url("../img/menu-back.png");
}

.navbar-futec .navbar-brand {
    color: #ffffff;
    height: 40px;
    padding: 10px;
}
.navbar-futec .navbar-brand:hover,
.navbar-futec .navbar-brand:focus {
    color: #eee;
    background-color: transparent;
}
.navbar-futec .navbar-text {
    color: #fff;
}
.navbar-futec .navbar-nav > li > a {
    font-size: 14px;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid #28475c;
    margin: 0px 20px;
    padding-left: 20px;
}
.navbar-futec .navbar-nav > li > a:hover,
.navbar-futec .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-futec .navbar-nav > .active > a,
.navbar-futec .navbar-nav > .active > a:hover,
.navbar-futec .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
    font-size: 14px;

}
.navbar-futec .navbar-nav > .disabled > a,
.navbar-futec .navbar-nav > .disabled > a:hover,
.navbar-futec .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-futec .navbar-toggle {
    border-color: #123650;
}
.navbar-futec .navbar-toggle:hover,
.navbar-futec .navbar-toggle:focus {
    background-color: #103049;
}
.navbar-futec .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-futec .navbar-collapse,
.navbar-futec .navbar-form {
    border-color: #375168;
}
.navbar-futec .navbar-nav > .open > a,
.navbar-futec .navbar-nav > .open > a:hover,
.navbar-futec .navbar-nav > .open > a:focus {
    color: #fff;
    border-bottom: 0px solid;

}
@media (max-width: 990px) {
    .container {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .navbar-futec .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        padding: 5px 0 5px 60px ;
    }
    .navbar-futec .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-futec .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #eee;
        background-color: transparent;
    }
    .navbar-futec .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-futec .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-futec .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #375168;
    }
    .navbar-futec .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-futec .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-futec .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-futec .navbar-link {
    color: #fff;
}
.navbar-futec .navbar-link:hover {
    color: #333;
}
.navbar-futec .btn-link {
    color: #fff;
}
.navbar-futec .btn-link:hover,
.navbar-futec .btn-link:focus {
    color: #333;
}
.navbar-futec .btn-link[disabled]:hover,
fieldset[disabled] .navbar-futec .btn-link:hover,
.navbar-futec .btn-link[disabled]:focus,
fieldset[disabled] .navbar-futec .btn-link:focus {
    color: #ccc;
}
textarea {
    resize: none;
}
.panelGuest{
    float: left;
    height: 388px;
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

