.linksFueraJuego {
    margin: 3px auto;
    width: 100%;
}

.controlfueraJuego, .otrasmodelos {
    float: left;
}

.otrasmodelos {
    margin: 0 6px;
}

.otrasmodelos li {
    margin: 0 2px;
}

.otrasmodelos li {
    height: 115px;
}

img.tituloFuera {
    margin-bottom: 8px;
}

.gv_galleryWrap {
    background: none repeat scroll 0 0 #FFFFFF !important;
}

.linea {
    border-top: 1px solid #000000;
    clear: both;
    height: 2px;
    margin: 25px 0 10px;
    width: 100%;
}

.titotramodelo {
    font-size: 16px;
    font-family: arial;
    padding: 0 0 0 5px;
}

.gv_panel img {
    cursor: pointer;
}

.containerfueradejuego {
    width: 100%;
    margin: 0 auto 3px;
}

.logoGP {
    float: left;
    background: url(../../../imagenes/galerias-fuera-de-juego/img/logoGP.png) transparent no-repeat center;

}

.logoAS {
    float: left;
    background: url(../../../imagenes/galerias-fuera-de-juego/img/logoAS.png) transparent no-repeat center;

}

.logoGP div, .logoAS div {
    width: 186px;
    height: 58px;

}

.logosGPAS {
    bottom: 110px;
    float: left;

    position: absolute;
}

.contenidoexclusivo {
    top: 150px;
    float: left;
    position: absolute;
    background-color: transparent;
    background-image: url("../../img/contenido-exclusivo.png");
    background-repeat: no-repeat;

    width: 60%;
    height: 70%;
    background-size: 100% auto;
    margin-left: 20%;
}

.socialesFueradeJuego {
    bottom: 160px;
    float: left;
    left: 114px;
    position: absolute;
    background-color: transparent;
    background-image: url("../../img/title-rotativas.png");
    padding: 15px 10px;
    color: #ffffff;

}

.logosGPAS2 {
    float: left;
    left: 64px;
    margin: 0 auto
}

.ls-responsive .liquid-slider .panel .panel-wrapper {
    padding: 0;
}

.visible {
    display: block;

}

.novisible {
    display: none;
}

@media (max-width: 767px) {
    .logosGPAS {
        top: inherit;
        bottom: 10px;

    }

    .ls-wrapper .ls-nav {
        width: 17%;
    }

    .ls-responsive .liquid-slider {
        width: 83%;
    }

    .logosGPAS {
        left: 0;
    }

    .logoGP, .logoAS {
        width: 50%;
        background-size: 100% auto;

    }

    .thum-fuera {
        height: 80px;
    }
}

@media (max-width: 320px) {
    .thum-fuera {
        height: 61px;
    }
}

@media (min-width: 767px) {
    .ls-wrapper .liquid-slider {
        height: 550px !important;
    }

    .thum-fuera {
        height: 106px;
    }

    .contenidoexclusivo {
        width: 60%;
        height: 70%;
        background-size: 100% auto;
        margin-left: 20%;
        margin-top: 100px;
    }

    .logosGPAS {
        width: 68%;
        margin-left: 16%;
    }

}