@font-face {
    font-family: 'movistarHeadline-Regular';
    src: url('../fonts/headline-regular/MovistarHeadline-Regular.eot');
    src: local('☺'), url('../fonts/headline-regular/MovistarHeadline-Regular.woff') format('woff'), url('../fonts/headline-regular/MovistarHeadline-Regular.ttf') format('truetype'), url('../fonts/headline-regular/MovistarHeadline-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'movistarText-Regular';
    src: url('../fonts/text-regular/movistartext-regular-1-webfont.eot');
    src: local('☺'), url('../fonts/text-regular/movistartext-regular-1-webfont.woff') format('woff'), url('../fonts/text-regular/movistartext-regular-1-webfont.ttf') format('truetype'), url('../fonts/text-regular/movistartext-regular-1-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'movistar_headlinebold';
    src: url('../fonts/headline-bold/movistarheadline-bold-webfont.eot');
    src: url('../fonts/headline-bold/movistarheadline-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/headline-bold/movistarheadline-bold-webfont.woff') format('woff'),
    url('../fonts/headline-bold/movistarheadline-bold-webfont.ttf') format('truetype'),
    url('../fonts/headline-bold/movistarheadline-bold-webfont.svg#movistar_headlinebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(../images/background.jpg) no-repeat top left;
    background-color: #359ab4;
    background-size: 100% auto;
}
.videos-gal-menu {
    height: 90px;
overflow: hidden;
margin-top: 25px;
}

.bloquea-video {

    background-color: rgba(0, 0, 0, 0);

    float: left;
    height: 60px;
    right: 14px;
    position: absolute;
    bottom: 0;
    width: 42px;
}


.container {
    max-width: 995px;

}
.clata {
    font-size: 18px;
}
.clatb {
    font-size: 30px;
    line-height: 30px;
    margin: 50px 0 10px;
}
.clatc {
    font-size: 18px;
}

.solomovil {
    display: none;
}
/**********/
.comentarios{
	height: auto;
    overflow: auto;
    max-height: 340px;
    margin-top: 20px;
    padding-bottom:20px;
    border-bottom: 1px solid #5a5c5e;
}

.tarjeta-amarilla{
	width:15px;
	height:15px;
	background-image: url("../images/amarilla.png");
	float: none;
}

.tarjeta-roja{
	width:15px;
	height:15px;
	background-image: url("../images/roja.png");
	float: none;
}

.entra{
	width:15px;
	height:15px;
	background-image: url('../images/entra.png');
}

.sale{
	width:15px;
	height:15px;
	background-image: url('../images/sale.png');
}
/*************/

#claqueta {
 background: url(../../imagenes/claketa.jpg) no-repeat top left;
    margin: 0 15px;

    position: absolute;
    left: 0;
    top:0 ;
    z-index: 10;
    height: 390px;
    width: 100%;

}


#claqueta  .text-center {
    /*display: none;*/
}


.header {
    background: url("../images/backgroun-header.png") repeat-x scroll 0 0;
}

a {
    color: #095A7C;
}
a:hover,.a:visited  {
    text-decoration: none;
}
.blanco {
    background-color: #FFFFFF;
    padding-top: 15px;
}

.logo {
    margin: 30px 30px 0 0 ;
}

.letrablanca {
    color: #ffffff;
   
}


.slogan {
     margin: 0;
    padding: 0;
}

.jumbotron .container {
    max-width: 995px;
    background-color: transparent;
}

.footer {
    background-color: #004262;
}

.footer .container {
    background-color: transparent;
}

h2, h3 {
    font-family: movistarHeadline-Regular;
    color: #08506d;
    font-size: 18px;
}

.nav-pills, .nav-pills a {
    background-color: transparent;
    font-family: movistarHeadline-Regular;
    color: #ffffff;
    font-size: 14px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: transparent;
    color: #FFFFFF;
}

.nav > li > a {
    padding: 5px 12px;
}

.menu_top {
    margin-bottom: 20px;
}

.menu_top .active a,
.menu_top .active a:hover {
    background-color: #ffffff;
}

.menu_top > li > a:hover, .menu_top > li > a:focus {
    background-color: transparent;
}

.noticia-rotativa {
    background: url(../images/rotativa-fondo.png) no-repeat top right;
    background-color: #0a597c;
    color: #ffffff;
    padding: 11px;
}

.normal-brand {
    display: block;
}

.smart-brand {
    display: none;
    width: 320px;
    overflow: hidden;
}

.botonpantalla:hover {
    cursor: pointer;
}



.noticia-rotativa li {
    font-size: 12px;
    font-weight: normal;
}
.margen0 {
    padding: 0 ;
}
.margen0r {
    padding-right: 0 ;
}
.margen0l {
    padding-left: 0 ;
}

.rowmargen {
    margin-left: -10px;
    margin-right: -10px;
}

.margen7 {
    padding: 0 7px;
}
.margen2 {
    padding: 0 2px;
}
.margen15 {
    margin: 0 15px;
}
.margen5 {
    padding: 0 5px;
}
.margen15r {
    padding-right: 15px;
}
.margen5r {
    padding-right: 5px;
}
.margen5l {
    padding-left: 5px;
}


.iconos {
    background: url(../images/iconos.png) no-repeat top left;
    padding-left: 23px;
    width: auto;

}

div.iconos {
    float: left;
}

.sprite-alemania{ background-position: 0 0; width: 21px; height: 15px; }
.sprite-argelia{ background-position: 0 -65px; width: 21px; height: 15px; }
.sprite-argentina{ background-position: 0 -130px; width: 21px; height: 15px; }
.sprite-australia{ background-position: 0 -195px; width: 21px; height: 15px; }
.sprite-belgica{ background-position: 0 -260px; width: 21px; height: 15px; }
.sprite-bosnia{ background-position: 0 -325px; width: 21px; height: 15px; }
.sprite-brasil{ background-position: 0 -390px; width: 21px; height: 15px; }
.sprite-c-de-marfil{ background-position: 0 -455px; width: 21px; height: 15px; }
.sprite-calendario{ background-position: 0 -520px; width: 24px; height: 24px; }
.sprite-camerun{ background-position: 0 -594px; width: 21px; height: 15px; }
.sprite-chile{ background-position: 0 -659px; width: 21px; height: 15px; }
.sprite-colombia{ background-position: 0 -724px; width: 21px; height: 15px; }
.sprite-contenido-exclusivo{ background-position: 0 -789px; width: 13px; height: 24px; }
.sprite-corea-sur{ background-position: 0 -863px; width: 21px; height: 15px; }
.sprite-corea{ background-position: 0 -928px; width: 21px; height: 15px; }
.sprite-costa-rica{ background-position: 0 -993px; width: 21px; height: 15px; }
.sprite-croacia{ background-position: 0 -1058px; width: 21px; height: 15px; }
.sprite-ecuador{ background-position: 0 -1123px; width: 21px; height: 15px; }
.sprite-eeuu{ background-position: 0 -1188px; width: 21px; height: 15px; }
.sprite-en-vivo{ background-position: 0 -1253px; width: 16px; height: 24px; }
.sprite-escudo-alg{ background-position: 0 -1327px; width: 21px; height: 21px; }
.sprite-escudo-arg{ background-position: 0 -1398px; width: 21px; height: 21px; }
.sprite-escudo-aus{ background-position: 0 -1469px; width: 21px; height: 21px; }
.sprite-escudo-bel{ background-position: 0 -1540px; width: 21px; height: 21px; }
.sprite-escudo-bih{ background-position: 0 -1611px; width: 21px; height: 21px; }
.sprite-escudo-bra{ background-position: 0 -1682px; width: 21px; height: 21px; }
.sprite-escudo-chi{ background-position: 0 -1753px; width: 21px; height: 21px; }
.sprite-escudo-civ{ background-position: 0 -1824px; width: 21px; height: 21px; }
.sprite-escudo-cmr{ background-position: 0 -1895px; width: 21px; height: 21px; }
.sprite-escudo-col{ background-position: -74px 0; width: 21px; height: 21px; }
.sprite-escudo-crc{ background-position: -74px -71px; width: 21px; height: 21px; }
.sprite-escudo-cro{ background-position: -74px -142px; width: 21px; height: 21px; }
.sprite-escudo-ecu{ background-position: -74px -213px; width: 21px; height: 21px; }
.sprite-escudo-eng{ background-position: -74px -284px; width: 21px; height: 21px; }
.sprite-escudo-esp{ background-position: -74px -355px; width: 21px; height: 21px; }
.sprite-escudo-fra{ background-position: -74px -426px; width: 21px; height: 21px; }
.sprite-escudo-ger{ background-position: -74px -497px; width: 21px; height: 21px; }
.sprite-escudo-gha{ background-position: -74px -568px; width: 21px; height: 21px; }
.sprite-escudo-gre{ background-position: -74px -639px; width: 21px; height: 21px; }
.sprite-escudo-hon{ background-position: -74px -710px; width: 21px; height: 21px; }
.sprite-escudo-irn{ background-position: -74px -781px; width: 21px; height: 21px; }
.sprite-escudo-ita{ background-position: -74px -852px; width: 21px; height: 21px; }
.sprite-escudo-jpn{ background-position: -74px -923px; width: 21px; height: 21px; }
.sprite-escudo-kor{ background-position: -74px -994px; width: 21px; height: 21px; }
.sprite-escudo-mex{ background-position: -74px -1065px; width: 21px; height: 21px; }
.sprite-escudo-ned{ background-position: -74px -1136px; width: 21px; height: 21px; }
.sprite-escudo-nga{ background-position: -74px -1207px; width: 21px; height: 21px; }
.sprite-escudo-por{ background-position: -74px -1278px; width: 21px; height: 21px; }
.sprite-escudo-rus{ background-position: -74px -1349px; width: 21px; height: 21px; }
.sprite-escudo-sui{ background-position: -74px -1420px; width: 21px; height: 21px; }
.sprite-escudo-uru{ background-position: -74px -1491px; width: 21px; height: 21px; }
.sprite-escudo-usa{ background-position: -74px -1562px; width: 21px; height: 21px; }
.sprite-espana{ background-position: -74px -1633px; width: 21px; height: 15px; }
.sprite-estados-unidos{ background-position: -74px -1698px; width: 21px; height: 15px; }
.sprite-facebook{ background-position: -74px -1763px; width: 24px; height: 24px; }
.sprite-francia{ background-position: -74px -1837px; width: 21px; height: 15px; }
.sprite-galeria-azul{ background-position: -74px -1902px; width: 28px; height: 24px; }
.sprite-galeria{ background-position: -152px 0; width: 28px; height: 24px; }
.sprite-ghana{ background-position: -152px -74px; width: 21px; height: 15px; }
.sprite-grecia{ background-position: -152px -139px; width: 21px; height: 15px; }
.sprite-grupos{ background-position: -152px -204px; width: 28px; height: 24px; }
.sprite-holanda{ background-position: -152px -278px; width: 21px; height: 15px; }
.sprite-honduras{ background-position: -152px -343px; width: 21px; height: 15px; }
.sprite-icono-calendario{ background-position: -152px -408px; width: 18px; height: 20px; }
.sprite-icono-grupos{ background-position: -152px -478px; width: 22px; height: 21px; }
.sprite-icono-informacion{ background-position: -152px -549px; width: 18px; height: 17px; }
.sprite-icono_contenido-exclusivo{ background-position: -152px -616px; width: 18px; height: 16px; }
.sprite-icono_estadios{ background-position: -152px -682px; width: 30px; height: 15px; margin-right:8px;}
.sprite-icono_goleadores{ background-position: -152px -747px; width: 13px; height: 23px; }
.sprite-icono_goles{ background-position: -152px -820px; width: 16px; height: 15px; }
.sprite-icono_grupos{ background-position: -152px -885px; width: 22px; height: 21px; }
.sprite-icono_jugador{ background-position: -152px -956px; width: 16px; height: 17px; }
.sprite-icono_minutoaminuto{ background-position: -152px -1023px; width: 17px; height: 16px; }
.sprite-icono_partidos{ background-position: -152px -1089px; width: 17px; height: 21px; }
.sprite-icono_partidos_blue{ background-position: -152px -1160px; width: 17px; height: 21px; }
.sprite-icono_sedes{ background-position: -152px -1231px; width: 30px; height: 21px; margin-right:8px;}
.sprite-icono_trivia{ background-position: -152px -1302px; width: 18px; height: 17px; }
.sprite-icono_video{ background-position: -152px -1369px; width: 17px; height: 16px; }
.sprite-inglaterra{ background-position: -152px -1435px; width: 21px; height: 15px; }
.sprite-iran{ background-position: -152px -1500px; width: 21px; height: 15px; }
.sprite-italia{ background-position: -152px -1565px; width: 21px; height: 15px; }
.sprite-japon{ background-position: -152px -1630px; width: 21px; height: 15px; }
.sprite-mexico{ background-position: -152px -1695px; width: 21px; height: 15px; }
.sprite-nigeria{ background-position: -152px -1760px; width: 21px; height: 15px; }
.sprite-noticia-rotativa{ background-position: -152px -1825px; width: 24px; height: 24px; }
.sprite-noticias{ background-position: -152px -1899px; width: 28px; height: 24px; }
.sprite-otros-partidos{ background-position: -232px 0; width: 17px; height: 24px; }
.sprite-partidodeldia{ background-position: -232px -74px; width: 28px; height: 24px; }
.sprite-portugal{ background-position: -232px -148px; width: 21px; height: 15px; }
.sprite-resumenes{ background-position: -232px -213px; width: 13px; height: 24px; }
.sprite-rusia{ background-position: -232px -287px; width: 21px; height: 15px; }
.sprite-suiza{ background-position: -232px -352px; width: 21px; height: 15px; }
.sprite-twitter{ background-position: -232px -417px; width: 24px; height: 24px; }
.sprite-uruguay{ background-position: -232px -491px; width: 21px; height: 15px; }
.sprite-usa{ background-position: -232px -556px; width: 21px; height: 21px; }



.sprite-icono_minutoaminuto{  float:left;}
.sprite-icono_video{  float:left; }



/*todo crear iconos escudos*/
.sprite-escudo-alemania{ background: url(../images/equipos/escudos/ger.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-argelia{ background: url(../images/equipos/escudos/alg.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-argentina{ background: url(../images/equipos/escudos/arg.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-australia{ background: url(../images/equipos/escudos/aus.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-belgica{ background: url(../images/equipos/escudos/bel.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-bosnia{ background: url(../images/equipos/escudos/bih.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-brasil{ background: url(../images/equipos/escudos/bra.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-camerun{ background: url(../images/equipos/escudos/cmr.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-chile{ background: url(../images/equipos/escudos/chi.png) no-repeat top left;width: 80px; height: 80px; float:left }
.sprite-escudo-colombia{ background: url(../images/equipos/escudos/col.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-corea-sur{ background: url(../images/equipos/escudos/kor.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-c-de-marfil{ background: url(../images/equipos/escudos/civ.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-costa-rica{ background: url(../images/equipos/escudos/crc.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-croacia{ background: url(../images/equipos/escudos/cro.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-ecuador{ background: url(../images/equipos/escudos/ecu.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-espana{ background: url(../images/equipos/escudos/esp.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-eeuu{ background: url(../images/equipos/escudos/usa.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-francia{background: url(../images/equipos/escudos/fra.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-ghana{ background: url(../images/equipos/escudos/gha.png) no-repeat top left;width: 80px; height: 80px; float:left }
.sprite-escudo-grecia{ background: url(../images/equipos/escudos/gre.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-holanda{ background: url(../images/equipos/escudos/ned.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-honduras{background: url(../images/equipos/escudos/hon.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-inglaterra{  background: url(../images/equipos/escudos/eng.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-iran{ background: url(../images/equipos/escudos/irn.png) no-repeat top left;width: 80px; height: 80px; float:left }
.sprite-escudo-italia{background: url(../images/equipos/escudos/ita.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-japon{ background: url(../images/equipos/escudos/jpn.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-mexico{ background: url(../images/equipos/escudos/mex.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-nigeria{ background: url(../images/equipos/escudos/nga.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-portugal{ background: url(../images/equipos/escudos/por.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-rusia{ background: url(../images/equipos/escudos/rus.png) no-repeat top left; width: 80px; height: 80px; float:left }
.sprite-escudo-suiza{ background: url(../images/equipos/escudos/sui.png) no-repeat top left;width: 80px; height: 80px; float:left }
.sprite-escudo-uruguay{background: url(../images/equipos/escudos/uru.png) no-repeat top left; width: 80px; height: 80px; float:left }

/*todo crear iconos escudos*/
.sprite-bandera-alemania{ background: url(../images/equipos/banderas40/ger.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-argelia{ background: url(../images/equipos/banderas40/alg.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-argentina{ background: url(../images/equipos/banderas40/arg.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-australia{ background: url(../images/equipos/banderas40/aus.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-belgica{ background: url(../images/equipos/banderas40/bel.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-bosnia{ background: url(../images/equipos/banderas40/bih.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-brasil{ background: url(../images/equipos/banderas40/bra.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-camerun{ background: url(../images/equipos/banderas40/cmr.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-chile{ background: url(../images/equipos/banderas40/chi.png) no-repeat top left;width: 37px; height: 24px; float:left }
.sprite-bandera-colombia{ background: url(../images/equipos/banderas40/col.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-corea-sur{ background: url(../images/equipos/banderas40/kor.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-c-de-marfil{ background: url(../images/equipos/banderas40/civ.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-costa-rica{ background: url(../images/equipos/banderas40/crc.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-croacia{ background: url(../images/equipos/banderas40/cro.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-ecuador{ background: url(../images/equipos/banderas40/ecu.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-espana{ background: url(../images/equipos/banderas40/esp.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-eeuu{ background: url(../images/equipos/banderas40/usa.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-francia{background: url(../images/equipos/banderas40/fra.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-ghana{ background: url(../images/equipos/banderas40/gha.png) no-repeat top left;width: 37px; height: 24px; float:left }
.sprite-bandera-grecia{ background: url(../images/equipos/banderas40/gre.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-holanda{ background: url(../images/equipos/banderas40/ned.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-honduras{background: url(../images/equipos/banderas40/hon.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-inglaterra{  background: url(../images/equipos/banderas40/eng.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-iran{ background: url(../images/equipos/banderas40/irn.png) no-repeat top left;width: 37px; height: 24px; float:left }
.sprite-bandera-italia{background: url(../images/equipos/banderas40/ita.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-japon{ background: url(../images/equipos/banderas40/jpn.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-mexico{ background: url(../images/equipos/banderas40/mex.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-nigeria{ background: url(../images/equipos/banderas40/nga.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-portugal{ background: url(../images/equipos/banderas40/por.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-rusia{ background: url(../images/equipos/banderas40/rus.png) no-repeat top left; width: 37px; height: 24px; float:left }
.sprite-bandera-suiza{ background: url(../images/equipos/banderas40/sui.png) no-repeat top left;width: 37px; height: 24px; float:left }
.sprite-bandera-uruguay{background: url(../images/equipos/banderas40/uru.png) no-repeat top left; width: 37px; height: 24px; float:left }



/*carrusel estilos*/
.list_carousel_header {
    margin: 0;
    width: 100%;
    clear: both;
    padding-top: 3px;
    padding: 3px 0;
}

.list_carousel_header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.list_carousel_header li {
    width: 97px;
    height: 100px;
    padding: 0;
    margin: 1px;
    display: block;
    float: left;
}
.list_carousel_header li img {
    border: 2px solid #ffffff;
    height: 68px;
}

.list_carousel_header.responsive {
    width: auto;
    margin-left: 0;
}

.list_carousel_header .clearfix {
    float: none;
    clear: both;
}

.list_carousel_header .prev {
    float: left;

}

.list_carousel_header .next {
    float: right;
}

.list_carousel_noticia {
    margin: 0;
    width: 100%;
}

.list_carousel_noticia ul {
    margin: 0;
    padding: 2px 0 0 15px;
    list-style: none;
    display: block;
}

.list_carousel_noticia li {
    width: 100%;
    height: 25px;
    padding: 0;
    margin: 1px;
    display: block;
    float: left;

    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.list_carousel_noticia.responsive {
    width: auto;
    margin-left: 0;
}

/*fin carrusel estilos*/


.en-vivo {
    background: url("../images/pestana-prox-partido.png") no-repeat 1px 0px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    background-size: auto 51px;
    /*float: left;
     width: 273px;*/
    height: 50px;
    margin-left: -17px;

}

.en-vivo-content {
    width: 260px;
    line-height: 53px;
}

.en-vivo-mini {
    font-size: 7px;
    padding: 0 0 0 0;
}


.en-vivo-prox {
    line-height: 12px;
    padding: 14px 0 0 1px;
}

.movi-text-regular {
    font-family:'movistarText-Regular'  ;
    font-size: 12px;
}
.movi-headline-bold {
    font-family: 'movistar_headlinebold' ;
}
.movi-headline-regular {
    font-family: 'movistarHeadline-Regular' ;
}

#proximo-partido .movi-headline-regular {
    padding-top: 15px;
}

#proximo-partido .cor-partidos {
    padding-left: 28px;
    font-size: 13px;
}



.sprite-facebook, .sprite-twitter  {
    margin: 7px;
    cursor: pointer;
}

#videos-contenedor .video {
    border-color: transparent;


}
/*menu videos*/
.tab-videos {
    background-color: transparent;
    border-color: transparent;
    float: left;
    line-height: 18px;
}


.tab-videos > .menu{
    height: 50px;

}
.tab-videos > .menu:hover{
    background-color: #109cbf;

}

#video {
    overflow: hidden;
    height: 390px;
}

.tab-videos > .menu:first-child{

}

.llavesfondo {
    background: url(../images/llaves.png) no-repeat top left;
    height: 490px;

}

.textofases {
    font-size: 10px;
}

.pos1a, .pos1b,.pos2a, .pos2b,.pos3a, .pos3b,.pos4a, .pos4b,.pos5a, .pos5b,.pos6a, .pos6b,.pos7a, .pos7b,.pos8a, .pos8b,
.pos9a, .pos9b,.pos10a, .pos10b,.pos11a, .pos11b,.pos12a, .pos12b,.pos13a, .pos13b,.pos14a, .pos14b,.pos15a, .pos15b,.pos16a, .pos16b,
.pos17a, .pos17b,.pos18a, .pos18b,.pos19a, .pos19b,.pos20a, .pos20b,.pos21a, .pos21b,.pos22a, .pos22b,.pos23a, .pos23b,.pos24a, .pos24b,
.pos25a, .pos25b,.pos26a, .pos26b,.pos27a, .pos27b,.pos28a, .pos28b,.pos29a, .pos29b,.pos30a, .pos30b,.pos31a, .pos31b,.pos32a, .pos32b{
    position: absolute;
}

.pos1a {left: 21px; top: 33px;}
.pos1b { left: 22px; top: 50px;}
.pos2a { left: 78px; top: 34px;}
.pos2b { left: 81px; top: 50px;}

.pos3a {left: 537px; top: 32px;}
.pos3b { left: 537px; top: 50px;}
.pos4a { left: 593px; top: 32px;}
.pos4b { left: 594px; top: 51px;}

.pos5a {left: 21px; top: 153px;}
.pos5b { left: 22px; top: 171px;}
.pos6a { left: 78px; top: 153px;}
.pos6b { left: 81px; top: 171px;}

.pos7a {left: 537px; top: 152px;}
.pos7b { left: 540px; top: 170px;}
.pos8a { left: 594px; top: 152px;}
.pos8b { left: 594px; top: 170px;}

.pos9a {left: 21px; top: 273px;}
.pos9b { left: 22px; top: 290px;}
.pos10a { left: 78px; top: 273px;}
.pos10b { left: 81px; top: 290px;}

.pos11a {left: 537px; top: 272px;}
.pos11b { left: 537px; top: 289px;}
.pos12a { left: 593px; top: 272px;}
.pos12b { left: 594px; top: 290px;}

.pos13a {left: 21px; top: 393px;}
.pos13b { left: 22px; top: 410px;}
.pos14a { left: 78px; top: 394px;}
.pos14b { left: 81px; top: 411px;}

.pos15a {left: 537px; top: 392px;}
.pos15b { left: 540px; top: 409px;}
.pos16a { left: 594px; top: 392px;}
.pos16b { left: 594px; top: 410px;}

.pos17a {left: 114px; top: 94px;}
.pos17b { left: 115px; top: 110px;}
.pos18a { left: 171px; top: 94px;}
.pos18b { left: 173px; top: 110px;}

.pos19a {left: 114px; top: 333px;}
.pos19b { left: 114px; top: 349px;}
.pos20a { left: 173px; top: 333px;}
.pos20b { left: 174px; top: 350px;}

.pos21a {left: 445px; top: 93px;}
.pos21b { left: 447px; top: 109px;}
.pos22a { left: 500px; top: 93px;}
.pos22b { left: 503px; top: 110px;}

.pos23a {left: 445px; top: 332px;}
.pos23b { left: 446px; top: 349px;}
.pos24a { left: 501px; top: 332px;}
.pos24b { left: 501px; top: 350px;}

.pos25a {left: 155px; top: 213px;}
.pos25b { left: 157px; top: 230px;}
.pos26a { left: 211px; top: 213px;}
.pos26b { left: 214px; top: 230px;}

.pos27a {left: 405px; top: 212px;}
.pos27b { left: 405px; top: 230px;}
.pos28a { left: 463px; top: 212px;}
.pos28b { left: 464px; top: 230px;}

.pos29a {left: 280px; top: 345px;}
.pos29b { left: 282px; top: 364px;}
.pos30a { left: 337px; top: 345px;}
.pos30b { left: 340px; top: 364px;}

.pos31a {left: 280px; top: 210px;}
.pos31b { left: 276px; top: 239px;}
.pos32a { left: 338px; top: 210px;}
.pos32b { left: 333px; top: 240px;}



.tab-videos a,.tab-videos a:hover, .tab-videos li.active > a , .tab-videos li.active > a:hover {
    color: #ffffff;
    border-color: transparent;
    font-family: 'movistarHeadline-Regular' ;
    /*font-size: 16px;*/
}

.tab-videos li a:hover, .tab-videos li.active > a, .tab-videos li.active > a:hover, .tab-videos li.active > a:focus {
    color: #ffffff;
    border-color: transparent;

    outline:none;
}

.tab-videos   > li > a {
    padding: 8px 14px 3px;
}
/*fin menu videos*/

/*menu calendarios*/
.panel-calendario {
    margin-top: 43px;
    border-color: #bddbe2;
    margin-bottom: 0px;
}
.tab-calendario {
   // background: url(../images/calendario-menu-backgroud.png) no-repeat top left;
    background-color: transparent;
    color: #08506d;
    border-color: transparent;
    margin-top: -43px;
    margin-bottom: 0px;

}
.tab-calendario a,.tab-calendario a:hover, .tab-calendario li.active > a , .tab-calendario li.active > a:hover {
    color: #08506d;
    border-color: transparent;
    font-family: 'movistarHeadline-Regular' ;
    font-size: 17px;
}

.tab-calendario li a:hover, .tab-calendario li.active > a, .tab-calendario li.active > a:hover, .tab-calendario li.active > a:focus {
    color: #FFFFFF;
    border-color: transparent;
    background: url("../images/calendario-menu-select.png") no-repeat scroll left -1px rgba(0, 0, 0, 0);
    outline:none;
}

.tab-calendario   > li > a {
    padding: 3px 12px 25px;
}


.tab-calendario   > li {
    width: 240px;
}

.tab-calendario > li:nth-child(2) {
    margin-left: -27px;
}


/*fin menu videos*/


.foo {
    float: left;
}

.list_carousel_header .glyphicon {
    font-size: 9px;
    color: #b6b6b6;
    line-height: 66px;
    background-color: #e9e9e9;
}
.list_carousel_header a:hover .glyphicon {
    color: #ffffff;
}

.header-1 {

    margin-top: 37px;
}

.contenedor-videos {
}

a, a:hover, a:visited, a:active,
li.active, li.active:hover, li.active:visited
{
    outline: none;
}

.cabecera-grupos1 {
    color: #095a7c;

}

.cabecera-grupos2 {
    color: #939598;
    height: 28px;
    font-size: 15px;
    padding-top: 4px;
    border-bottom: 1px solid #D9D9D9;

}

#calendario .cabecera {
    background-color: #0a5a7d;
    color: #ffffff;
    height: 21px;
    padding-top: 3px;
    font-size: 12px;
}



 .grupo .cuerpo {
    font-size: 16px;
     color: #005c84;
 }

.grupo .nombre-equipo, .grupo .nombre-equipo a, .grupo .nombre-equipo a:visited {
    font-size: 20px;
    color: #005c84;
}

.grupo .nombre-equipo a:hover {
    text-decoration:none;
    color: #428BCA;
}

#calendario .cabecera span{
    padding-left: 5px;
}
  .cuerpo{

      padding-top: 5px;

      border-bottom: 1px solid #D9D9D9;
  }
.partido-dia .cuerpo{
    border: 1px solid #d9d9d9;
    height: 29px;
    padding-top: 4px;
    margin-top: 12px;
    width: 95%;
    margin-right: 2%;
    margin-bottom: 4px;
    font-size: 12px;
}

hr {
    border-color: #e6e6e6 ;
    margin-bottom: 8px;
    margin-top: 26px;
}

.partido-dia hr {
    margin: 5px 0;
    border-style: dashed;
    border-color: #777777;
}
  .grupo {

      font-size: 18px;
      padding-bottom: 30px;
      padding-top: 20px;
  }

.panel-noticias  h2 {
    margin-top: 43px;
    margin-bottom: 6px;
}

.panel-noticias h3 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    color: #231f20;
}
.panel-noticias p {
    font-size: 11px;
    color: #58595b;
    margin-bottom: 2px;
}
  hr.cabecera{
    border-color: #005c84;
    border-width: 1px 0 0;
    margin-bottom: 11px;
    margin-top: 6px;
      clear: both;
}
  hr.hrcuerpo {

    border-width: 1px 0 0;
    margin-bottom: 11px;
    margin-top: 6px;
}

.boton-more,  .boton-more-mini {;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#bcdbe2');
    background-color: #fff;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent: 0;
      display: inline-block;
    color: #939598;
    font-family:movistarHeadline-Regular,Arial;
    font-size: 14px;
    height: 15px;
    line-height: 14px;
    width: 150px;
    text-decoration: none;
    text-align: center;
      float: right;
}
  .boton-more:hover, .boton-more-mini:hover {
    text-decoration: none;

}

.boton-more-fondo {
    background: url("../images/barra_cuadros_ver_mas.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 10px;
    padding-right: 15px;
}

.panel-noticias .boton-more:active,.panel-noticias .boton-more-mini:active {
    position:relative;
    top:1px;
}

.panel-noticias .boton-more-mini {
    height: 24px;
    width: 90px;
    line-height: 23px;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topright:3px;
    border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius-bottomright:3px;
    border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
    margin-left: 5px;
    font-size: 11px;
    bottom: -1px;
    position: absolute;
    right: 2px;
}

.panel-noticias a.cont-more {
    border: 1px solid red;
}

.panel-noticias .noticia {
    margin-bottom: 0px;
}

.cabecera-partidos {
    background: url("../images/fondo-banner-lateral.png") repeat-x;
}



.cabecera-partidos h2{
    color: #FFFFFF !important;
    font-size: 15px;
    margin-top: 9px !important;

}

.conten-partidos {
    font-size: 11px;
    padding-top:3px;
}

.list_partido_dia .carousel-inner{
 border:1px solid #E8E8E8;
 margin-top: -3px;
    }

.conten-partidos b {
    font-weight: normal;
}

.list_partido_dia .conten-partidos:nth-last-child(2) hr{
  display: none;
}


.partido-on-line {
    background-color: #063e54;
    color: #ffffff;

    font-size: 12px;
    font-family: movistarHeadline-Regular, Arial;

    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topright:3px;
    border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius-bottomright:3px;
    border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
    margin: 2px 0;

}

.partido-on-line-cuerpo {
    padding-bottom: 7px;
    padding-top: 7px;

}
.partido-on-line-centro {
    margin: 2px 4px;
    width: 14%;
    font-size: 16px;
    padding: 2px 0;
    height: 31px;
}

.fondo-footer {
    background: rgba(0, 0, 0, 0);
    background-size: 100% 39px;
    background-position: center 7px;
    color: #FFFFFF;
    font-size: 11px;
}

.logo-telefonica {
    background: url("../images/logo-telefonica.png") no-repeat;
    background-position: top right;
    width: 84px;
    height: 26px;
    float: right;
}

.footer-barra1 {
    margin-top: 10px;
}

.footer-barra1 .copyrigth {
    margin-top: 18px;
}

.fondo-footer a {
    color: #FFFFFF;
    opacity: .7;
}

.fondo-footer .nav   li   a:hover,
.fondo-footer .nav   li   a:focus  {
    background-color: transparent;
    text-decoration: underline;
}

.menuabajo{
    color: red;

}

.cont-menu-vides {
    background-color: #063e54;
    margin: 0 0 2px;
    padding: 0;
    height: 24px;
}

.partido-dia ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.partido-dia ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.partido-dia .carousel-inner {
    float: left !important;
}

.partido-dia  .carousel-control.right, .partido-dia  .carousel-control.left {
    background-image: none;
}


.partido-dia  .carousel-control .icon-prev,.partido-dia  .carousel-control .icon-next,.partido-dia  .carousel-control .glyphicon-chevron-left,.partido-dia  .carousel-control .glyphicon-chevron-right {
    top: 73px;
}

/* minuto a minuto */
.minuto-minuto-body, .minuto-a-minuto-fecha {
    color: #005c84 !important;
    font-size: 12px;
}
.minuto-header  {
    line-height: 26px;
    font-size: 21px;
}

.minuto-header .opciones {
    font-size: 12px;
    line-height: 23px;

}
.minuto-horario {
    font-size: 11px;
    line-height: 11px;
    padding: 0px 10px 0;
    padding-top: 11px;

}

.minuto-horario-equipo {
    font-size: 11px;
    line-height: 12px;
    padding: 0px 0 0;

    font-family: arial;

}

a, a:hover, a:focus{
    outline: none;
}


.right {
    float: right;
}
.opcion-menu {
    margin: 0 auto;
    height: 50px;
    width: 100%;
}
.menu-texto {
    margin: 17px auto;
    width: 98px;
    height: 24px;
}

.video-text {
   color: #6d6f71;
    font-size: 13px;
    padding-top: 10px;

}
.video-mini-part1 {
    font-size: 11px;
}
.video-mini-part2 {
    color: #6d6f71;
    font-size: 11px;
}




.pie-imagen-noticia {
    background-color: #f2f2f2;
    color: #a4a4a4;
    font-size: 11px;
    width: 95.5%;
    line-height: 22px;
    margin-bottom: 19px;
}

.mini-noticia-fecha {
    color:#adadad;
    font-size: 10px;
}

.separador {
    margin-top: 22px;
}

.gris {
    background-color: #f2f2f2;
}

.estadios h3,.sedes h3 {
    color: #231f20;
    font-size: 14px;
}

.estadios .conten,.sedes .conten {
    color: #58595b;
    font-size: 11px;
    text-align: justify;
}

.trivia, .main-goleadores {
    font-size: 12px;
}

.trivia .titulo {
   color: #004262;
   font-size: 14px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.gol-cabeza {
    height: 30px;
    line-height: 27px;
}

.gol-cuerpo  a:visited,.gol-cuerpo  a:hover {
    text-decoration: none
}
.gol-cuerpo {
    height: 30px;
    border-top: 1px solid #e8e8e8  ;
    line-height: 27px;
}
.gol-cuerpo div {
     border-right: 1px solid #e4e4e4  ;
 }

.main-goleadores {
    border-left: 1px solid #e8e8e8  ;
    border-right: 1px solid #e8e8e8  ;
    border-bottom: 1px solid #e8e8e8  ;
}

.gol-cuerpo div:first-child {
    margin-top: 2px;

}


.trivia   {
    border: 1px solid  #e8e8e8  ;
}

.activemenu, .opcion-menu:hover, .opcion-menu:active    {
     /*color: #006d98;*/
}


.panel-minute {
    padding: 15px;
}

.calendar-dia .btn:active, .calendar-dia .btn.active {
    box-shadow: none;
}
.calendar-dia .btn-default:active,.calendar-dia .btn-default.active,.calendar-dia .open .dropdown-toggle.btn-default {
    color: #808080;
}


.calendar-dia .btn {
    font-size: 12px;
    color: #dfdfdf;
    border-radius: 0;
    height: 50px;
    line-height: 60px;
}

.grupos .btn {
    font-size: 14px;
    color: #095A7C;
    height: 30px;
    border-radius: 0;
    line-height: 16px;
}

.domingo {
    background: url("../images/domingo.png") no-repeat !important;
}

.lunes {
    background: url("../images/lunes.png") no-repeat !important;
}

.martes {
    background: url("../images/martes.png") no-repeat !important;
}
.miercoles {
    background: url("../images/miercoles.png") no-repeat !important;
}
.jueves {
    background: url("../images/jueves.png") no-repeat !important;
}
.viernes {
    background: url("../images/viernes.png") no-repeat !important;
}
.sabado {
    background: url("../images/sabado.png") no-repeat !important;
}


.main-goleadores h1 {
    font-size: 22px;
    color: #005c84;
    font-family: movistarHeadline-Regular, Arial;
    margin: 2px 0;
}

.main-goleadores h2 {
    font-size: 14px;
    color: #636466;
    font-family: movistarHeadline-Regular, Arial;
    margin: 3px 0;
}

/*Arreglo ligthbox*/

#cboxClose, #cboxCurrent, #cboxPrevious, #cboxNext {
    font-family: movistarHeadline-Regular, Arial;
    font-size: 13px;
    color: #095A7C !important;
}

.lineaazul {
    border-color: #005c84;

}
.azul {
    color: #005c84;

}

.grupohome .cabecera-grupos1 {
    font-size: 16px;

}

.grupohome {
    padding: 10px 5px 0;
}
.grupohome  .cabecera-grupos2 {
    border-bottom: 1px solid #D9D9D9;
    color: #095A7C;
    font-size: 12px;
    height: 28px;
    padding-top: 4px;
}

.grupohome  .cuerpo {
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: 11px;
}

.grupohome  .cuerpo a {
    text-decoration: none;
    color: #095A7C;
}

.grupohome  .cuerpo a:hover {
    text-decoration: none;
    color: #428bca;
}

.bandera40 .iconos {
    margin-bottom: 15px;
    margin-right: 2px;
}

.margen-vert  {
    margin-top: 5px;
}

.noticia1 {
    height: 150px;
    overflow: hidden;
}


.noticia2 {
    height: 70px;
    overflow: hidden;
}

h1.noticia-abierta  {
    font-size: 20px;
    margin: 5px 0 10px;
    color:#08506d !important;
    font-family: movistarHeadline-Regular, Arial;
}
h2.noticia-abierta  {
    margin: 5px 0 25px;
}

p.noticia-abierta    {
    font-size: 12px;
    margin: 5px 0 10px;
    text-align: justify;
}

.imagenes-galeria {
    height: 93px;
    width: 99px;
    overflow: hidden;
}
.estadio-banner {
    height: 170px;
    overflow: hidden;
}

.altonews {
    min-height: 140px;
}


.noticia .carousel-inner .img-historia {
    display: block;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 90% !important;
}

.noticia .carousel-control.left {
    background: none;
     color:#004F78;
    margin-left: -35px;
}

.noticia .carousel-control.right {
    background: none;
    color:#004F78;
    margin-right: -50px;
}

.menuabajo  .navbar-nav {
   /* margin-left: 18%;   Mas items del menu inferior*/
    margin-left: 27%;
    margin-right: auto;
}
.imagenes-galeria .minigaleria img {
    display: block;
    height: 93px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.maxgaleria .img-galeria-full img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.maxgaleria  .bg-galeria{
    height: 120px;
    overflow: hidden;
    padding: 5px;
}

.maxgaleria .bg-galeria:nth-child(4n) {
   padding-left: 5px;
   padding-right: 0px;
}

.maxgaleria .bg-galeria:nth-child(4n+1) {
    padding-left: 0px;
    padding-right: 0px;
}


#carousel-historias{
    padding-right: 15px;
}

.carousel.c-fade .item {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.carousel.c-fade .active.left,
.carousel.c-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.c-fade .next,
.carousel.c-fade .prev {
  left: 0;
  z-index: 1;
}
.carousel.c-fade .carousel-control {
  z-index: 3;
}

.navbar-fixed-top  {
    background: url("../images/fondomovil.png") repeat-x scroll 0 0;
    border-color: transparent;
}
.navbar-fixed-top li.active, .navbar-fixed-top li.active a,
.navbar-fixed-top li, .navbar-fixed-top li a  {
    color: #ffffff;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #005b86;
    color: #dddddd;
}

.navbar-toggle {
    background-color: #119cbf;
    background-image: none;
    border: 1px solid #119cbf;
    margin-top: 14px;
    margin-left: 15px;
}

.navbar-fixed-top .navbar-toggle {
    border-color: #119cbf;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.logo-movil {
    padding: 12px 15px 0  ;
}
.cuerpo, .boton-more-fondo {
    float: left;
    width: 100%;
}

#trivia, #trivia.row{
    height: 275px;
}

#result .trivia-respuesta{
    font-family:inherit;
    font-size: 46px;
    color: #2A6A92;
}

#result .boton-more-fondo{
    padding-right: 15px;
    cursor:pointer;
}

#trivia, ul>li{
    list-style: none;
}

.panel-minute .deshabilitado{
    color: #666;
}

.opcion-menu .iconos-menu{
    padding-left: 30px;
    padding-top: 10px;
}

#iconoFacebook{
    background: url("../images/facebook1.png") no-repeat;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
}

#iconoFacebook:hover{
    background: url("../images/facebook2.png") no-repeat;
}

#iconoTwitter{
    background: url("../images/twitter1.png") no-repeat;
     width: 32px;
    height: 32px;
    float: left;
}

#iconoTwitter:hover{
    background: url("../images/twitter2.png") no-repeat;
}

.gris2 {
    color: #939598;
}

#galeria-dia .col-lg-4{
    padding-top:1px;
    padding-bottom: 1px;
}

#galeria-dia .col-lg-4:nth-child(3n+3) {
    padding-right: 0px;
}

#galeria-dia .col-lg-4:nth-child(3n+1) {
    padding-right: 0px;
}

.texto-azul{
    color:#004262;
}

.panel-group .panel {
    float: left;
    width: 100%;
}

#carousel-historias a {
    color: #58595B;
}

@media screen and(max-device-width: 1024px) {
   #iconoFacebook{
    margin-right: 0px;
       }
}


#video_wrapper {
    width: 633px !important;
    height: 390px !important;
    margin: 0 auto;
}

.contenedor-videos {
    height: 390px;
    width: 633px;
}

.minitexto {
    font-size: 11px;
}

.noticias-detalles h1, .noticias-detalles h2 {
    font-size: 14px;
    font-family: movistarHeadline-Regular, Arial;
    margin: 3px 0;
    padding-top: 10px   ;
    color:#08506d !important;
}


h1.noticia-grande {
    font-size: 20px !important;
    color:#08506d !important;
}


.fb_iframe_widget iframe {
    position: absolute;
}
.fb_iframe_widget iframe button {
   color: red;
}

.minuto-header  {
    padding: 0 14px;
}


@media (min-width: 992px) {
    .container {
        width: 1170px;
    }
}

#video_wrapper {
    width: 633px !important;
    height: 390px !important;
    margin: 0 auto;
}

.contenedor-videos {
    height: 390px;
    width: 633px;
}

.minitexto {
    font-size: 11px;
}

.noticias-detalles h1, .noticias-detalles h2 {
    font-size: 14px;
    font-family: movistarHeadline-Regular, Arial;
    margin: 3px 0;
    padding-top: 10px   ;
    color:#08506d !important;
}


h1.noticia-grande {
    font-size: 20px !important;
    color:#08506d !important;
}


.fb_iframe_widget iframe {
    position: absolute;
}
.fb_iframe_widget iframe button {
   color: red;
}

.minuto-header  {
    padding: 0 14px;
}


.twitter-content {
    min-height: 390px;
}


iframe .ic-twitter-badge

@media (min-width: 992px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 768px) {
    body {
        background: none;
        background-color: #ffffff;
    }
    .header {
        background: url("../images/fondomovil.png") repeat-x scroll 0 0;
    }

    .container .navbar {
        margin-bottom: 20px;
    }
    .maxgaleria .bg-galeria {
        height: 140px;
    }


    .grupo .nombre-equipo, .grupo .nombre-equipo a, .grupo .nombre-equipo a:visited {
        font-size: 14px;
        color: #005c84;
    }

    .cuerpo .boton-more-fondo {
        float: left;
        width: 100%;
    }

    .cabecera-grupos2 {

        font-size: 13px;

    }

    .grupos {
        display: none;
    }

    .navbar-nav li {
        font-family: movistarHeadline-Regular, Arial;
        border-bottom: 1px solid #8cbbcb;
        margin-left: 15px;
        margin-right: 15px;
    }

    .main-goleadores-movi {
        display: none;
    }

    .partidos-calendar {
        display: none;
    }

    .minuto-header, .panel-minute {
        line-height: 18px;
        font-size: 15px;
    }


    .panel-minute {
        padding: 5px;
    }

    .normal-brand {
        display: none;
    }

    .smart-brand {
        display: block;
    }

    .margen0l {
        padding-left: 0;
        padding-right: 0;
    }
    .margen15r {
        padding-right: 0;
    }

    .main-goleadores h1 {
        font-size: 16px;
    }

    .noticia .carousel-inner .img-historia {
        height: 237px;
    }


    .altonews {

        min-height: 130px;

    }

    .historias .margen5r {
        padding-left: 0 ;

    }
    .noticia2 {
        height: 90px;
    }

    .pie-imagen-noticia {
        width: 100%;
    }

    .banner-centrar {
        margin: 0 auto;
    }

    .panel-minute .margen2 {
        padding: 0 14px;
    }

    .minuto-header  {
        padding: 0 14px;
    }

    .sprite-informacion {
        display:none
    }

    .minuto-header {
        font-size: 12px !important;

    }

    .ocultar {
        display: none;
        visibility: none;
    }
    .solomovil {
        display: block;
        z-index: 100;
    }
    .margen-vert {
        margin-top: 1px;

    }


}



@media (max-width: 320px) {
    .sprite-informacion {
        display:none
    }

    .banner-centrar {
        margin-left: -15px;
        margin-right: -15px;
        padding-right: 0;
        padding-left: 0;
    }

    .cuerpo  {
        min-height: 40px;
        border: none;
        padding-top: 12px;
    }
}

