body {font-family:helvetica,sans-serif;font-size:12px;}
a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
a.stbar.chicklet {height:16px;line-height:16px;}
th, td { padding: 0px; }

.introFE{
    background-image: url(/imagenes/introFEmagazine/fondo.jpg);
    background-size:100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 10000;
}

.mensajeFE p{
    color: #fff;
    font-family: "Aldrich";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 10%;
    width: 100%;
    margin-top: 5px;

}


.redireccionFE{
    background-color: rgba(0, 0, 0, 0.7);
    float: right;
    height: auto;
    margin-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    width: 40%;
}
.redireccionFE p{
    font-size: 17px;
    font-family:helvetica,sans-serif;
    color:#fff;
    cursor: pointer;
    margin: 4px 4px 8px;;
}

.deviceFE{
    background-image: url(/imagenes/introFEmagazine/dispositivos.png );
    background-repeat: no-repeat;
    background-size: auto 100%;
    float: left;
    height: 440px;
    margin-left: 30%;
    margin-top: 2%;
    width: 60%;
}

.mensajeFE{
    float: left;
    height: 30px;
    margin-left: 10%;
    margin-top: 10px;
    text-align: center;
    width: 80%;
}



.contenedor-btn-FE {
    /* float: left; */
    height: 65px;
    /* margin-left: 5%; */
    margin-top: 5px;
    width: 326px;
    margin: 5px auto;
}


.itunesFE{
    float:left;
    background-image: url(/imagenes/introFEmagazine/appstore.png );
    background-size:100% auto;
    background-repeat: no-repeat;
    width: 156px;
    height: 56px;

    margin-right: 2%;
    cursor: pointer;

}
.googleFE{
    background-image: url(/imagenes/introFEmagazine/google-play.png);
    background-size:100% auto;
    background-repeat: no-repeat;
    width: 156px;
    height: 56px;
    float:left;
    cursor: pointer;
}

@media screen and (max-device-width: 768px) {
    .redireccionFE p{
        font-size: 21px;
    }
    .mensajeFE{
        height: 120px;
    }


}
