body {
    padding: 0px;
    margin: 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: transparent;
}
body#principal {
    width: 100%;    
    overflow: auto;
}

#contenido,#contenidoSel,#contenidoA, #contenidoid  {
    width: 100%;
}
#contenidoid  {
    margin: 15px 0 0;
}

#contenido,#contenidoSel,#contenidoA  {
    margin: 0;
}

 .content-news {
    float: left;
    width: 49%;
    margin-bottom: 5px;
    overflow: hidden;
}

.content-news-id{
	float: left;
    width: 70%;
    margin-bottom: 5px;
    overflow: hidden;    
}



.content-news-img {
    background: url("../imagenes/lightbox/boton.png") no-repeat scroll 300px 39px transparent;
}

  .news-title {
    float: left;
    color: #343434;
    line-height: 21px;
    padding-left: 10px;
}

  .news-lead {
    float: left;
    color: #585858;
    font-size: 9pt;
    padding: 0 5px;

    width: 50%;
}

  .news-text {
    float: left;

    margin-top: 13px;
    margin-left: 0;
}

  .news-photo {
    float: left;
    width: 120px;
    height: 95px;
    margin-left: 25px;
    margin-top: 13px;
}


#contenidoid .news-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px 15px 15px;
}

#contenidoid .news-title-date,  .news-title-date  {
    color: #000000;
    float: left;
    font-size: 11px;
    font-weight: normal;
    margin: 0 15px;
    width: 100%;
}

#contenidoid .news-title-subtitle {
    font-size: 12px;
    font-weight: bold;
    margin: 0 15px;
    clear: both;
}
#contenidoid .news-lead, #contenidoid .news-lead p {
    font-size: 12px;
}
#contenidoid .news-lead  {
    margin: 0 15px;
}
#contenidoid .content-news {
    width: 71%;
    float: left;
    margin: 0 0 30px 0;
}

#contenidoid .news-photo {
    float: left;
    height: 120px;
    margin-left: 5px;
    margin-top: 0;
    margin-right: 15px;
    min-height: 120px;
    margin-bottom: 30px;
    margin: 0 0px 30px 5px;
    display:block;
}

#contenidoid .clear {
    clear: both;
}
/*sobreescribo el fancybox */
#fancybox-close {
    background: url("fancybox.png") repeat scroll -40px 0 transparent;
    right: 0 !important;
    top: -32px !important;
}

.newsid0 , .newsid1, .newsid2, .newsid5, .newsid6{
    border-top: 1px solid #e1e1e1;
}

.newsid0 , .newsid2, .newsid4, .newsid6{
    border-right: 1px solid #e1e1e1;
    clear: both;
}

.menuSectionNews {
    width: 100%;
    height: 31px;
    line-height: 30px;
    margin: 0;
}
.menuSectionNews .opcion1, .menuSectionNews .opcion2, .menuSectionNews .opcion3 {
    float: left;
    width: 33%;
    cursor: pointer;
    text-align: center;
    font-size:20px ;
}

a {
    list-style: none;
}

.negrilla {
    font-weight: bolder;
}

.news-text-id .news-lead {
    width: 90%;
}

@media screen and (max-width:600px) {
	.content-news {
	    float: left;
	    width: 100%;
	    margin-bottom: 5px;
	    overflow: hidden;
	}	
	
	.menuSectionNews .opcion1, .menuSectionNews .opcion2, .menuSectionNews .opcion3 {
		font-size:12px ;
	}
	
	#contenidoid .content-news {
	    width: 100%;
	    float: left;
	    margin: 0 0 30px 0;
	}
	
	.content-news-id{
		float: left;
	    width: 100%;
	    margin-bottom: 5px;
	    overflow: hidden;	    
	}
	
	#contenidoid .news-photo{
	display:none;
	}
}