.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #022C57;
	font-weight: bold;
}

.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #022C57;
}
.finalsedestext2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
}
.contenidonoticiasfe {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	padding-left: 8px;
}
.contenidonoticiasfe2 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	padding-right: 8px;	
	text-align:right;	
}
.contenidonoticiasfe3 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	padding-right: 20px;	
	text-align:right;	
}
titulonoticiasfe {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
}
.sedescontent {color: #cccccc; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
.sedesresume {color: #cccccc; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; font-size: 11px; }

.titulo_noticia {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}
.titulosedestext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
	font-weight: bold;
}
.marcador {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: bolder;
	color: #FF0000;
	font-style: normal;
}
.texto1_noticia {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
}
.textual {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.textoequipos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.link_noticia {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.paratitulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	text-decoration: blink;
}
.finalsedestext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.tit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.marcadorenvivo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.titlenew {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
}
.futbolecuador {font-family: Tahoma;
	font-size: 12px;
	color: #333333;
}

.linkadmin:link {
	BACKGROUND: none;
	COLOR: #006699;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.linkadmin:active {
	BACKGROUND: none;
	COLOR: #006699;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.linkadmin:visited {
	BACKGROUND: none;
	COLOR: #006699;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.linkadmin:hover         {
	BACKGROUND: none;
	COLOR: #012C57;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.lecturas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #1C5888;
	TEXT-DECORATION: none;
}
.content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}
.tsedes	{
	BACKGROUND: none; 
	COLOR: #333333; 
	FONT-SIZE: 13px; 
	PADDING: 5px; 
	FONT-WEIGHT: bold; 
	FONT-FAMILY: Verdana, Helvetica; 
	TEXT-DECORATION: none
}
.adminlink:link {
	BACKGROUND: none;
	COLOR: #022C57;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}

.adminlink:active {
	BACKGROUND: none;
	COLOR: #022C57;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.adminlink:visited {
	BACKGROUND: none;
	COLOR: #022C57;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.adminlink:hover         {
	BACKGROUND: none;
	COLOR: #006699;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.titulo_link{
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.titulo_link:link {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.titulo_link:active {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.titulo_link:visited {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.titulo_link:hover         {
	BACKGROUND: none;
	COLOR: #1D5888;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}

.titulo_link2{
	BACKGROUND: none;
	COLOR: #003366;
	FONT-SIZE: 14px;
	FONT-FAMILY: "Times New Roman", Times, serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.titulo_link2:link {
	BACKGROUND: none;
	COLOR: #003366;
	FONT-SIZE: 14px;
	FONT-FAMILY: "Times New Roman", Times, serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.titulo_link2:active {
	BACKGROUND: none;
	COLOR: #003366;
	FONT-SIZE: 14px;
	FONT-FAMILY: "Times New Roman", Times, serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.titulo_link2:visited {
	BACKGROUND: none;
	COLOR: #003366;
	FONT-SIZE: 14px;
	FONT-FAMILY: "Times New Roman", Times, serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.titulo_link2:hover         {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 14px;
	FONT-FAMILY: "Times New Roman", Times, serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}

.tablaresultados{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;

}
.tablaborder {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	border: 1px solid #1D5888;
}
.partido_titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFFFFF;
	padding-bottom: 3px;
	padding-left: 3px;
}
.partido_resultado {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: #484444;
}
.partido_equipo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333333;
	font-weight: normal;
}
.partido_tabla {
	border: 2px outset #1D5888;
}
.sedesbox {	
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 10px; 
	color: #330000;
}
.partido_division {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #022C58;
	border-left-color: #022C58;
}
.partido_titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #022C58;
	padding-bottom: 3px;
	padding-left: 3px;
}
.mas_noticias_link {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	padding-left: 8px;	
}
.not_principal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width:100%;
	position: relative;
	background-image: url(../imagenes/gif/fondonoticia.jpg);
	background-repeat: repeat-y;
}

.not_texto{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	left:71px;
	width:639px;
	padding:5px;
	color: #FFFFFF;
	position:relative;
	text-align: justify;
	float: left;
}
.cerrar_link{
	BACKGROUND: none;
	COLOR: #CCCCCC;
	FONT-SIZE: 13px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.cerrar_link:link {
	BACKGROUND: none;
	COLOR: #CCCCCC;
	FONT-SIZE: 13px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.cerrar_link:active {
	BACKGROUND: none;
	COLOR: #CCCCCC;
	FONT-SIZE: 13px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.cerrar_link:visited {
	BACKGROUND: none;
	COLOR: #CCCCCC;
	FONT-SIZE: 13px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.cerrar_link:hover         {
	BACKGROUND: none;
	COLOR: #FFFFFF;
	FONT-SIZE: 13px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.futbolecuador {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.blog_tabla_contenido {
	background-color: #FAFAFA;
}.blog_tabla_comentario {
	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #666666;
}
.blog_texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-align: justify;
	padding-right: 2px;
	padding-left: 4px;
}
.blog_titulo {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #012C56;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1C5787;
}
.blog_comentario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FF9933;
	font-weight: bold;
}
.blog_comentario_titulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0066CC;
	font-weight: bold;
}
.blog_comentario_texto{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006699;
}
.blog_comentario_post{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-weight: normal;
	font-style: italic;
}
.noticiaup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}
.editorial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.boton_enviar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CECFD0;
	background-color: #1C5888;
	font-weight: bold;
}
.borde_imagen {
	border: 1px solid #000000;
}
.noticia_principal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: justify;
}
.combo_ajax
{
	font-family:Verdana;
	font-size:12px;
	border-color:#CCCCCC;
	width: 200px;
}
.posiciones_tabla {
	border: thin solid #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
	text-align:left;	
}
.posiciones_celda {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #999999;
}
.posiciones_celda2 {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #999999;
	padding-right: 8px;	
	text-align:right;	
}
.posiciones_celda3 {
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #999999;
	padding-right: 20px;	
	text-align:right;	
}
.fecha_partido{
    font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	background-image: url(../imagenes/gif/fondoetapasfechas.jpg);
	background-repeat: repeat-y;
}
.flotante{
	position:absolute; 
	width:277px; 
	height:142px; 
	z-index:auto; 
	left: 566px; 
	top: 320px; 
	visibility: visible;
}

.busqueda {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1D5888;
}
.cron_datos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #D71A21;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #1C5787;
}
.cron_reloj {
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #1C5787;
	border-right-width: thin;
	border-right-style: double;
	border-right-color: #FFFFFF;
	letter-spacing: 2px;
	line-height: 30px;
}
.cron_boton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #1C5787;
	cursor:pointer;
	padding-right:5px;
}
.cron_boton:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #F2FF1B;
	cursor:pointer;
	padding-right:5px;
}
.save_sucess {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ED1C24;
	text-align:center;
}
.form_errors {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ED1C24;
	text-align:left;
	padding-left: 3px;
}
#menu_celda {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	background-color: #BFE4FF;
	font-weight: bold;
}
#menu_celda:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	background-color: #E6EF95;
	font-weight: bold;
	cursor: hand;
}
#boton2 {
	color: #022C57;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #BFE4FF;
	text-decoration: none;
	font-weight: bold;
}
#boton2:hover {
	color: #022C57;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #E6EF95;
	font-weight: bold;
	cursor: hand;
}
.item1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #EFEFEF;
	padding-bottom: 2px;
}
.item2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	padding-bottom: 2px;
}
.item11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #EFEFEF;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #012C57;
}
.item12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #012C57;
}
#titulo_coment {
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #012C57;
	padding-left: 5px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #012C57;
	line-height: 11px;
}
#texto_coment {
	padding-top: 5px;
	padding-left: 5px;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
}
#autor_coment {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	color: #ED1C24;
	text-align: right;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000000;
}
#agregar_coment {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	color: #012C57;
}
#agregar_coment:hover {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	color: #012C57;
	background-color: #FEEBB0;
}
.title_section {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #012C57;
	padding-top: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #012C57;
}
.bloque_derecho {
	border-left-width: 1px; 
	border-left-style: solid; 
	border-left-color: #FFFFFF;
}
.mensaje_error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ED1C24;
	text-align: center;
}



