@CHARSET "UTF-8";
	body {					
			padding: 0px;
			width: 100%;
			font-family: Helvetica, sans-serif;
			color: white;			
			margin-left: auto;
			margin-right: auto;
			margin-top: 0px;
			/*background-color: #006B95;*/
		}
		
		.fondo{
			position:relative;top: 0px;left:0px;width:100%;height:60px;cursor:pointer;
			background-repeat:no-repeat;
		}
	
		.logoLocal{
			position: absolute; 
			top: 0; left: 1px; 
			text-align:center;
			width: 10%; height: 60px;			
		}
		
		.logoVisita{
			position: absolute; 
			top: 0; right: 1%; 
			width: 10%; height: 60px;
			text-align:center;			
		}
		
		.contenedorResultados{
			position: absolute; 
			top: 0; left: 10%; 
			width: 78%; height: 60px;							
		}
		
		.resultados1{
			position: absolute; 
			top:0; left:0; 
			width: 100%; height: 30px;
			background-repeat: no-repeat;
			background-size:100% ;			
		}
		
		.resultados2{
			position: absolute; 
			top: 30px;left:0; 
			width: 100%; height: 30px; 
			font-size: 13px; color: #C3C3C3; 
			text-shadow: black 0.1em 0.1em 0.2em;
			
		}
		
		.nombreLocal{
			/*position: absolute;*/
			float:left; 
			margin-left:10%; 
			width: 34%; height: 30px; 
			font-size:15px;
			line-height: 30px; text-align: center;			
		}
		
		.nombreVisita{
		 	/*position: absolute;*/
			float:left;  
		 	margin-right:10%;
		 	margin-left:0;
		 	font-size:15px;
		 	width: 31%;height: 30px; 		 	 
		 	line-height: 30px; text-align: center;
		}
		
		.marcador{
			/*position: absolute;*/
			float:left;  
			margin-left:6px; 
			width: 13%;height: 30px;  
			line-height: 30px; 
			text-align: center; 			
			color: #00144F; font-size: 20px;
		}
		
		.parteLocal{
		 	/*position: absolute;*/
			float:left; 
			margin-left:10%;
		 	width: 33%; height: 20px; 
		 	text-align: left; 
		 	padding-left: 5px;padding-top: 10px;
		 	text-shadow: none!important;
			 	color:#000!important;
		}
		
		.parteVisita{
		 	/*position: absolute;*/
			float:left; 
		 	margin-left:0;
		 	width:31%; height: 20px;  
		 	text-align: right; 
		 	padding-top: 10px;
		 	text-shadow: none!important;
			 	color:#000!important;
		}
		
		.parteCentro{
			 /*position: absolute;*/
			 float:left; 
			 margin-left:0px;
			 margin-top:10px; 
			 width:17%;height: 30px; 
			 line-height: 15px; text-align: center;
			 text-shadow: none!important;
			 	color:#000!important;
		}
		
		.logoL{
			 width:50px;		
		}
		
		.logoV{
		 	width:50px;		 
		}
		
		@media screen and (max-width:450px) {		
			.fondo{
				height:70px;				
			}
			
			.logoL{ width:40px;}
			
			.logoV{	 width:40px;}
			
			.marcador{
				/*position: absolute;*/
				float:left;  
				margin-left:4px;
				margin-top:2px; 
				width: 12%;height: 30px;  
				line-height: 30px; 
				text-align: center;
				color: #00144F; font-size: 14px;
			}		
			
			.nombreLocal{
				/*position: absolute;*/
				float:left; 
				margin-left:10%; 
				width: 34%; height: 30px; 
				font-size:12px;
				line-height: 30px; text-align: center;			
			}
		
			.nombreVisita{
			 	/*position: absolute;*/
				float:left;  
			 	margin-right:10%;
			 	margin-left:0;
			 	font-size:12px;
			 	width: 31%;height: 30px; 		 	 
			 	line-height: 30px; text-align: center;
			}
			
			.parteLocal{
			 	/*position: absolute;*/
				float:left; 
				margin-left:10%;
			 	width: 33%; height: 24px; 
			 	text-align: left; 
			 	padding-left: 0px;padding-top: 5px;
			 	font-size: 10px;
			 	overflow: hidden;
			 	text-shadow: none!important;
			 	color:#000!important;
			}
			
			.parteVisita{
			 	/*position: absolute;*/
				float:left; 
			 	margin-left:5px;
			 	width:33%; height: 24px;  
			 	text-align: right; 
			 	padding-top: 5px;
			 	font-size: 10px;
			 	overflow: hidden;
			 	text-shadow: none!important;
			 	color:#000!important;
			}
			
			.parteCentro{
				 /*position: absolute;*/
				float:left; 
				 margin-left:0; 
				 margin-top:7px;
				 width:15%;height: 30px; 
				 line-height:10px; text-align: center;
				 font-size: 10px;				 
				 overflow: hidden;
				 text-shadow: none!important;
			 	color:#000!important;
			}
		}
		
		@media screen and (max-width:320px) {	
			.fondo{
				height:75px;				
			}	
			.logoL{ width:40px;}
			
			.logoV{	 width:40px;}
			
			.marcador{
				/*position: absolute;*/
				float:left;  
				margin-left:4px;
				margin-top:2px; 
				width: 12%;height: 30px;  
				line-height: 30px; 
				text-align: center;
				color: #00144F; font-size: 11px;
			}		
			
			.nombreLocal{
				/*position: absolute;*/
				float:left; 
				margin-left:10%; 
				width: 34%; height: 30px; 
				font-size:10px;
				line-height: 30px; text-align: center;			
			}
		
			.nombreVisita{
			 	/*position: absolute;*/
				float:left;  
			 	margin-right:5%;
			 	margin-left:2px;
			 	font-size:10px;
			 	width: 31%;height: 30px; 		 	 
			 	line-height: 30px; text-align: center;
			}
		}		