@CHARSET "UTF-8";
	body{	
		/*background-color: #000ff0;*/
	}	
	
	.fondoMarcador{
		position: absolute; top: 0; left: 0; width: 99%; height: 65px;
		background-repeat: no-repeat;background-position: center;
		background-size:80% 55px;		
	}

	.logoLocal{
		position: absolute; 
		top:0; left:0; 
		width: 10%; height: 60px;		
	}
	
	.logoVisita{
			position: absolute; 
			top:0; right:1%; 
			width: 10%; height: 60px;
			text-align:center;
		}
		
		.contenedorResultados{
			position: absolute; 
			top: 0; left: 10%; 
			width: 78%; height: 60px;	
									
		}
		
		.resultados1{
			position: absolute; 
			top:0; left:0; 
			width: 100%; height: 30px;
			background-repeat: no-repeat;
			background-size:100% ;	
		}
		
		.resultados2{
			position: absolute; 
			top: 30px;left:0; 
			width: 100%; height: 30px; 
			font-size: 13px; color: #C3C3C3; 
			text-shadow: black 0.1em 0.1em 0.2em;
			
		}
		
		.nombreLocal{
			/*position: absolute;*/
			float:left; 
			margin-left:0%; 
			width: 43%; height: 30px; 
			font-size:15px;
			line-height: 30px; text-align: center;		
		}
		
		.nombreVisita{
		 	/*position: absolute;*/
			float:left;  
		 	margin-right:10%;
		 	margin-left:0;
		 	font-size:15px;
		 	width: 30%;height: 30px; 		 	 
		 	line-height: 30px; text-align: center;
		 	
		}
		
		.marcador{
			/*position: absolute;*/
			float:left;  
			margin-left:0; 
			width: 15%;height: 30px;  
			line-height: 30px; 
			text-align: center; 			
			color: #00144F; font-size: 20px;			
		}
		
		.parteLocal{
		 	/*position: absolute;*/
			float:left; 
			margin-left:10%;
		 	width: 33%; height: 20px; 
		 	text-align: left; 
		 	padding-left: 5px;padding-top: 10px;
		}
		
		.parteVisita{
		 	/*position: absolute;*/
			float:left; 
		 	margin-left:0;
		 	width:31%; height: 20px;  
		 	text-align: right; 
		 	padding-top: 10px;
		}
		
		.parteCentro{
			 /*position: absolute;*/
			 float:left; 
			 margin-left:0px;
			 margin-top:10px; 
			 width:17%;height: 30px; 
			 line-height: 15px; text-align: center;
		}	
				
		.logoL{ width:50px;}
		
		.logoV{	width:50px;}	
		
		.contenedorDatos{
		 	position: absolute; 
		 	top: 65px; left: 0; 
		 	width: 100%; height: auto;
		 	
		}		
		
		.columnaLocal{		
			float:left; 
			top: 0px; left: 0px; 
			width:23%; height: 540px; 
			border-right: solid 1px #67A3BB;
			display:block;									
		}
		
		.titulo_Gol-Local{
			 float: left; 
			 width: 90%; 
			 height: 110px; 
			 padding-left: 10px;
		}
		
		
		
		.golesLocal{
		 	float: inherit; 
		 	width: 90%; height: 80px;
		 	margin-top: 0; 
		 	color: #AEBFC6; 
		 	font-weight: bold; 
		 	font-size: 11px; 
		 	padding-left: 2px; 
		 	
		}
		
		.titularesLocal{
		 	float:inherit; 
		 	margin-top: 0; margin-left: 0px; 
		 	width: 100%; height: 183px;
		}
		
		.nombre-Titulares-Local{
			 float: inherit; 
			 width:100%;height: auto; 
			 margin-top: 1px; 
			 color: #AEBFC6; 
			 font-weight: normal; 
			 font-size: 10px; 
			 padding-left: 2px; 
			 
		}
		
		
		.suplentesLocal{
			  float:inherit; 
			  margin-left: 0; 
			  width: 98%; height: 215px; 
			  padding-left:0px;
			  display:block;
		}
		
		.nombreSuplentesLocal{
			float: inherit; 
			width: 100%; height: 185px;
			font-size: 11px; 
			margin-top: 2px; 
			color: #AEBFC6; 
			font-weight: normal; 
			padding-left: 2px;  
			overflow: hidden;
			display:block;
		}
		
		.contenedorCentral{
			 float:left;
			 width:50%; height:auto;
			 margin-top:20px;
			 margin-left:0;			 
		}
		
		.texto-Centro{
		 	float: inherit; 
		 	top: 0px; left: 0px; 
		 	width: 100%; height: 35px; 
		 	border-bottom: solid 1px white; padding-bottom: 5px; margin-left: 10px;
		 	display:block;
		}
		
		.datos-centro-partido{
			float:inherit;
			margin-top:auto;  width:100%; height: 80px;padding-left:10px;
			display:block;
			
		}
		
		.ficha-Local{
		 	float: inherit;
		 	width: 49%; height: 110px; 
		 	text-align: center; text-align: left; 
		 	border-right: solid 1px white;		 	
		}
		
		.ficha-uniformes{
			 float:inherit;
			 margin-top: 30px; left: 0; 
			 width:100%; height: 170px; 
			 border-bottom: solid 1px white; 
			 padding-bottom: 10px; padding-left: 10px; 
			 margin-left: 10px;
			 display:block;
			 
		}
		
		.uniforme-local{
			float:  inherit; 
			margin-top: 0; 
			width: 47%; height: 175px; 
			/*border-right: 1px solid white;*/
			
		}
		
		.uniforme-Visita{
		 	float:inherit;
		 	margin-top:0;		 	 
		 	width: 45%;height: 175px;  
		 	font-size: 14px;
		}
		
		.uni-visita{
		 	float:inherit ; 
		 	width: 90%;height: 140px; 
		 	text-align: center; 		 	 
		 	padding-top: 10px; 
		 	background-color: white; 
		 	border-radius: 10px; 
		 	-ms-border-radius: 10px; 
		 	-moz-border-radius: 10px; 
		 	-webkit-border-radius: 10px; 
		 	-khtml-border-radius: 10px;
		 	margin-left:10px;
		}
		
		.ficha-Visita{
			float: inherit;
			 top: 0; margin-left: 0; 
			 width: 49%; height: 110px; 
			 text-align: center; 
			 text-align: right;
		}
		
		.columnaVisita{
			float:right;
			margin-top: 0px; 
			width: 23%; height: 540px; 
			border-left : solid 1px #67A3BB;			
			display:block;				
		}
		
		.golesVisita{
			float:inherit; 
			width: 100%; height: auto; 
			padding-left: 0px;			
		}
		
		
		.goleadorVisita{
		 	float: inherit; 
		 	width:  90%; height: 80px;
		 	margin-top: 2px;  
		 	font-size: 11px; 
		 	font-weight: bold; 
		 	color: #AEBFC6;			 		
		}
		
		.contenedor-titularesVisita{
			 float:inherit;
			 width: 98%; 
			 margin-top:0px;
			 height: 215px; padding-left: 10px;
		}
		
		.titularesVisita{
			 float: inherit; 
			 width: 98%;
			 margin-top: 0;
			 font-weight:normal; 
			 font-size: 10px; height: 185px;			 			 
		}		
		
		.supletesVisita{
		 	float:left;
		 	width: 100%; height: 200px; 
		 	padding-left: 10px;
		 	display:block;
		}		
		
		.nombresVisita{
			 float: left; 
			 width: 100%;
			 height: 155px; 
			 margin-top: 2px; 
			 font-size: 11px; 
			 font-weight: normal; 
			 color: #AEBFC6;
		}		
		
		.contenedor-comentario{
		 	float:inherit; 
		 	left: 0px; 
		 	width: 100%; height: 235px; padding-left: 10px;
		}
		
		
				
		.contenido-comentario{
				 	float: inherit; 
				 	width: 99%; 
				 	height: 240px; 
				 	padding: 5px; 
				 	overflow-y: scroll; 
				 	overflow-x: hidden; 
				 	background-color: #FAFAFA; color: black;				 	
				}
				
		.titulo-uniforme-local{
				 	float:inherit; 
				 	width: 100%; 
				 	text-align: left;
				 	font-size: 14px; 
				 	margin-bottom: 5px;
				}
				
			.titulo-uniforme-visita{
					 float:inherit;
					 width: 100%;
					 text-align: right; 
					 font-size: 14px; 
					 margin-bottom: 5px; 
					 padding-right: 10px;
				}
				
			.imagen-local{
					 float:inherit ; 
					 width: 90%; 
					 text-align: center; 
					 height: 140px; 
					 padding-top: 10px; 
					 background-color: white; 
					 border-radius: 10px; 
					 -ms-border-radius: 10px; 
					 -moz-border-radius: 10px; 
					 -webkit-border-radius: 10px; 
					 -khtml-border-radius: 10px;
				}				
		
		@media screen and (max-width:600px) {
		
		/*goles nombres*/		
		.golesLocal{
		 	float: inherit; 
		 	width: 90%; height: auto;
		 	margin-top: 0; 
		 	color: #AEBFC6; 
		 	font-weight: normal; 
		 	font-size: 10px; 
		 	padding-left: 2px;
		}
		
		.goleadorVisita{
		 	float: inherit; 
		 	width:  90%; height: auto;
		 	margin-top: 2px;  
		 	font-size: 10px; 
		 	font-weight: normal; 
		 	color: #AEBFC6;		
		 	 		
		}
		/*****/
		
		.datos-centro-partido{
			display:none;
		}
		
		.texto-Centro{
			display:none;
		}
		
			.titularesLocal{
				height:auto;
			}
			
			.contenedor-titularesVisita{
				height:auto;
			}
			
			.ficha-uniformes{
				display:none;
			}
			
			.columnaLocal{	
				width:48%;		
				height:auto;
				font-size:11px;
			/*	border:1px solid red;*/
				display:none; 
			}
			
			.contenedorCentral{	
				clear:both;		
				width: 100%;
				height:300px;				
			}
			
			.suplentesLocal{
				display:none;
			}
			
			.columnaVisita{
				width:48%;		
				height:auto;
				font-size:11px;
				display:none;
			}
			
			.supletesVisita{
				display:none;
			}
			
			.contenedor-comentario{
				float:inherit; 
			 	left: 0px; 
			 	width: 100%; height: 250px; padding-left: 0px;
			 	
			}
			
			.contenido-comentario{
				 	float: left; 
				 	width: 99%; 
				 	height: 230px; 
				 	padding: 5px; 
				 	overflow-y: scroll; 
				 	overflow-x: hidden; 
				 	background-color: #FAFAFA; color: black;
				}
				
			.logoL{ width:40px;}
			
			.logoV{	 width:40px;}
			
			.marcador{
				/*position: absolute;*/
				float:left;  
				margin-left:4px;
				margin-top:2px; 
				width: 12%;height: 30px;  
				line-height: 35px; 
				text-align: center;
				color: #00144F; font-size: 11px;				
			}		
			
			.nombreLocal{
				/*position: absolute;*/
				float:left; 
				margin-left:10%; 
				width: 34%; height: 30px; 
				font-size:12px;
				line-height: 30px; text-align: center;			
			}
		
			.nombreVisita{
			 	/*position: absolute;*/
				float:left;  
			 	margin-right:10%;
			 	margin-left:0;
			 	font-size:12px;
			 	width: 31%;height: 30px; 		 	 
			 	line-height: 30px; text-align: center;
			}
			
			.parteLocal{
			 	/*position: absolute;*/
				float:left; 
				margin-left:10%;
			 	width: 33%; height: 24px; 
			 	text-align: left; 
			 	padding-left: 0px;padding-top: 5px;
			 	font-size: 10px;
			 	overflow: hidden;
			}
			
			.parteVisita{
			 	/*position: absolute;*/
				float:left; 
			 	margin-left:5px;
			 	width:33%; height: 24px;  
			 	text-align: right; 
			 	padding-top: 5px;
			 	font-size: 10px;
			 	overflow: hidden;
			}
			
			.parteCentro{
				 /*position: absolute;*/
				float:left; 
				 margin-left:0; 
				 margin-top:7px;
				 width:16%;height: 30px; 
				 line-height:10px; text-align: center;
				 font-size: 10px;				 
				 overflow: hidden;				
			}	
		
		
		}